<div id="about-docs" class="bs-docs-container docs-content">
  <div class="alert alert-warning">
    <span class="fa fa-warning" aria-hidden="true"></span> Our documentation has moved to <%= link_to "#{HOST}/docs/", docs_path() %>
  </div>
</div>
