<a target="blank" class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered pfda-card-warning" href="mailto:precisionfda@fda.hhs.gov">
  <div class="pfda-card-title">
    Want to Share Your Experience?
  </div>
  <small class="text-muted">November 3rd, 2016</small>
  <hr>
  <div class="pfda-card-body">
    PrecisionFDA has been offered the opportunity to showcase some of the activities/innovation that have occurred on precisionFDA at the World Precision Medicine Congress on November 15, 2016 in Washington DC. If you are interested in talking for 10 minutes about some of the work you have done on precisionFDA or an app that you have made available to the precisionFDA community, please let us know by November 7, 6:00pm EST.
  </div>
</a>
<a target="blank" class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered" href="<%= presskit_path %>">
  <div class="pfda-card-title">
    <div class="row">
      <div class="col-xs-6"></div>
      <div class="col-xs-12">
      <%= image_tag "presskit/badges/pfda-badge-member-large.png", alt: "Member badge", class: "img-responsive" %>
      </div>
    </div>
    <hr>
    Now available: Press Kit with precisionFDA logos and community badges
  </div>
  <small class="text-muted">Oct 19th, 2016</small>
</a>
<a target="blank" class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered" href="http://www.fda.gov/ScienceResearch/SpecialTopics/PrecisionMedicine/default.htm">
  <div class="pfda-card-title">
    Optimizing Regulatory Oversight for Next Generation Sequencing Test
  </div>
  <small class="text-muted">July 6th, 2016</small>
  <hr>
  <div class="pfda-card-body">
    In support of the White House’s Precision Medicine Initiative, the FDA issued two draft guidances that offer a streamlined approach to the oversight of ‘Next Generation Sequencing’ tests that detect medically important differences in a person’s genomic makeup.
  </div>
</a>
<a target="blank" class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered" href="https://www.youtube.com/watch?v=JCcpyJz49jE">
  <div class="pfda-card-title">
    <%= image_tag "misc/taha-interview-narrow.png", alt: "Interview with Dr Taha Kass-Hout", class: "img-responsive img-rounded" %>
    <hr>
    Interview with the former FDA Chief Health Informatics Officer about precisionFDA
  </div>
  <small class="text-muted">June 2nd, 2016</small>
</a>
