<div id="admin_org_agreement_modal" class="modal fade tasks-actions-modal modal-with-loader">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Organization Admin Agreement</h4>
      </div>
      <div class="loader-container">
        <div class="loader">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
      </div>
      <div class="modal-body">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac dui nunc. Praesent at est lectus. Nulla sed tempus nisi. Pellentesque iaculis semper quam, in venenatis velit tristique eget. Phasellus pellentesque diam in tortor porta, sed eleifend eros hendrerit. Donec rhoncus iaculis sem, id tempor nibh posuere ac. Maecenas molestie rutrum lectus, non malesuada velit blandit et.

Mauris nec quam mi. Mauris commodo nec sapien vitae malesuada. Mauris condimentum tortor a magna fermentum, sit amet laoreet magna lacinia. Morbi vitae dignissim leo. Nam enim velit, dapibus et massa at, ultrices tempus nulla. Donec et dolor felis. Pellentesque consectetur pellentesque felis, nec egestas massa hendrerit eu. Suspendisse in finibus sapien. Suspendisse aliquam imperdiet metus eu dapibus. Cras tristique dolor quis dolor convallis, non fermentum felis placerat. Aenean nec tincidunt arcu. Sed sed vulputate est.

Donec nec metus eget justo volutpat bibendum sit amet vitae justo. In sed consequat urna, nec lobortis magna. Sed quis ultrices diam, in commodo lacus. Nam tempor nulla pharetra felis ornare, nec sodales lacus convallis. Nulla semper enim quis imperdiet bibendum. Phasellus sed quam sed massa commodo interdum ut at purus. In rhoncus volutpat mi sed placerat. Nullam eu nisl vestibulum, vulputate dui sed, dapibus tellus. Praesent non varius nisl. Curabitur et justo nec nisi laoreet sollicitudin a quis massa.

Nunc malesuada, odio non viverra ultricies, quam urna volutpat enim, vel efficitur augue massa quis ante. Donec in justo in nulla sollicitudin scelerisque quis ut ligula. Proin aliquet, turpis ut vulputate sagittis, metus sapien vestibulum erat, vitae condimentum ex metus quis lorem. Duis tortor risus, placerat at risus eget, tristique porttitor magna. Pellentesque mi orci, venenatis in ultricies a, porttitor id neque. Ut vel libero eleifend, gravida ligula ut, cursus sem. Phasellus a dolor sit amet tellus imperdiet malesuada. Pellentesque suscipit, urna ut eleifend consequat, leo nisi ullamcorper erat, non pellentesque nisl arcu ut lectus.

Nam dolor nibh, dictum at finibus nec, tempor eget nulla. Phasellus feugiat velit id neque laoreet dapibus. Quisque suscipit augue porttitor est ullamcorper, eu tincidunt orci volutpat. Sed tristique turpis et felis scelerisque, eu facilisis libero porta. Nullam ac ultrices turpis. Pellentesque ipsum massa, gravida in quam quis, ultrices viverra ante. Nullam feugiat sem elementum, bibendum felis a, imperdiet risus. Quisque quis posuere lorem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac dui nunc. Praesent at est lectus. Nulla sed tempus nisi. Pellentesque iaculis semper quam, in venenatis velit tristique eget. Phasellus pellentesque diam in tortor porta, sed eleifend eros hendrerit. Donec rhoncus iaculis sem, id tempor nibh posuere ac. Maecenas molestie rutrum lectus, non malesuada velit blandit et.

Mauris nec quam mi. Mauris commodo nec sapien vitae malesuada. Mauris condimentum tortor a magna fermentum, sit amet laoreet magna lacinia. Morbi vitae dignissim leo. Nam enim velit, dapibus et massa at, ultrices tempus nulla. Donec et dolor felis. Pellentesque consectetur pellentesque felis, nec egestas massa hendrerit eu. Suspendisse in finibus sapien. Suspendisse aliquam imperdiet metus eu dapibus. Cras tristique dolor quis dolor convallis, non fermentum felis placerat. Aenean nec tincidunt arcu. Sed sed vulputate est.

Donec nec metus eget justo volutpat bibendum sit amet vitae justo. In sed consequat urna, nec lobortis magna. Sed quis ultrices diam, in commodo lacus. Nam tempor nulla pharetra felis ornare, nec sodales lacus convallis. Nulla semper enim quis imperdiet bibendum. Phasellus sed quam sed massa commodo interdum ut at purus. In rhoncus volutpat mi sed placerat. Nullam eu nisl vestibulum, vulputate dui sed, dapibus tellus. Praesent non varius nisl. Curabitur et justo nec nisi laoreet sollicitudin a quis massa.

Nunc malesuada, odio non viverra ultricies, quam urna volutpat enim, vel efficitur augue massa quis ante. Donec in justo in nulla sollicitudin scelerisque quis ut ligula. Proin aliquet, turpis ut vulputate sagittis, metus sapien vestibulum erat, vitae condimentum ex metus quis lorem. Duis tortor risus, placerat at risus eget, tristique porttitor magna. Pellentesque mi orci, venenatis in ultricies a, porttitor id neque. Ut vel libero eleifend, gravida ligula ut, cursus sem. Phasellus a dolor sit amet tellus imperdiet malesuada. Pellentesque suscipit, urna ut eleifend consequat, leo nisi ullamcorper erat, non pellentesque nisl arcu ut lectus.

Nam dolor nibh, dictum at finibus nec, tempor eget nulla. Phasellus feugiat velit id neque laoreet dapibus. Quisque suscipit augue porttitor est ullamcorper, eu tincidunt orci volutpat. Sed tristique turpis et felis scelerisque, eu facilisis libero porta. Nullam ac ultrices turpis. Pellentesque ipsum massa, gravida in quam quis, ultrices viverra ante. Nullam feugiat sem elementum, bibendum felis a, imperdiet risus. Quisque quis posuere lorem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac dui nunc. Praesent at est lectus. Nulla sed tempus nisi. Pellentesque iaculis semper quam, in venenatis velit tristique eget. Phasellus pellentesque diam in tortor porta, sed eleifend eros hendrerit. Donec rhoncus iaculis sem, id tempor nibh posuere ac. Maecenas molestie rutrum lectus, non malesuada velit blandit et.

Mauris nec quam mi. Mauris commodo nec sapien vitae malesuada. Mauris condimentum tortor a magna fermentum, sit amet laoreet magna lacinia. Morbi vitae dignissim leo. Nam enim velit, dapibus et massa at, ultrices tempus nulla. Donec et dolor felis. Pellentesque consectetur pellentesque felis, nec egestas massa hendrerit eu. Suspendisse in finibus sapien. Suspendisse aliquam imperdiet metus eu dapibus. Cras tristique dolor quis dolor convallis, non fermentum felis placerat. Aenean nec tincidunt arcu. Sed sed vulputate est.

Donec nec metus eget justo volutpat bibendum sit amet vitae justo. In sed consequat urna, nec lobortis magna. Sed quis ultrices diam, in commodo lacus. Nam tempor nulla pharetra felis ornare, nec sodales lacus convallis. Nulla semper enim quis imperdiet bibendum. Phasellus sed quam sed massa commodo interdum ut at purus. In rhoncus volutpat mi sed placerat. Nullam eu nisl vestibulum, vulputate dui sed, dapibus tellus. Praesent non varius nisl. Curabitur et justo nec nisi laoreet sollicitudin a quis massa.

Nunc malesuada, odio non viverra ultricies, quam urna volutpat enim, vel efficitur augue massa quis ante. Donec in justo in nulla sollicitudin scelerisque quis ut ligula. Proin aliquet, turpis ut vulputate sagittis, metus sapien vestibulum erat, vitae condimentum ex metus quis lorem. Duis tortor risus, placerat at risus eget, tristique porttitor magna. Pellentesque mi orci, venenatis in ultricies a, porttitor id neque. Ut vel libero eleifend, gravida ligula ut, cursus sem. Phasellus a dolor sit amet tellus imperdiet malesuada. Pellentesque suscipit, urna ut eleifend consequat, leo nisi ullamcorper erat, non pellentesque nisl arcu ut lectus.

Nam dolor nibh, dictum at finibus nec, tempor eget nulla. Phasellus feugiat velit id neque laoreet dapibus. Quisque suscipit augue porttitor est ullamcorper, eu tincidunt orci volutpat. Sed tristique turpis et felis scelerisque, eu facilisis libero porta. Nullam ac ultrices turpis. Pellentesque ipsum massa, gravida in quam quis, ultrices viverra ante. Nullam feugiat sem elementum, bibendum felis a, imperdiet risus. Quisque quis posuere lorem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac dui nunc. Praesent at est lectus. Nulla sed tempus nisi. Pellentesque iaculis semper quam, in venenatis velit tristique eget. Phasellus pellentesque diam in tortor porta, sed eleifend eros hendrerit. Donec rhoncus iaculis sem, id tempor nibh posuere ac. Maecenas molestie rutrum lectus, non malesuada velit blandit et.

Mauris nec quam mi. Mauris commodo nec sapien vitae malesuada. Mauris condimentum tortor a magna fermentum, sit amet laoreet magna lacinia. Morbi vitae dignissim leo. Nam enim velit, dapibus et massa at, ultrices tempus nulla. Donec et dolor felis. Pellentesque consectetur pellentesque felis, nec egestas massa hendrerit eu. Suspendisse in finibus sapien. Suspendisse aliquam imperdiet metus eu dapibus. Cras tristique dolor quis dolor convallis, non fermentum felis placerat. Aenean nec tincidunt arcu. Sed sed vulputate est.

Donec nec metus eget justo volutpat bibendum sit amet vitae justo. In sed consequat urna, nec lobortis magna. Sed quis ultrices diam, in commodo lacus. Nam tempor nulla pharetra felis ornare, nec sodales lacus convallis. Nulla semper enim quis imperdiet bibendum. Phasellus sed quam sed massa commodo interdum ut at purus. In rhoncus volutpat mi sed placerat. Nullam eu nisl vestibulum, vulputate dui sed, dapibus tellus. Praesent non varius nisl. Curabitur et justo nec nisi laoreet sollicitudin a quis massa.

Nunc malesuada, odio non viverra ultricies, quam urna volutpat enim, vel efficitur augue massa quis ante. Donec in justo in nulla sollicitudin scelerisque quis ut ligula. Proin aliquet, turpis ut vulputate sagittis, metus sapien vestibulum erat, vitae condimentum ex metus quis lorem. Duis tortor risus, placerat at risus eget, tristique porttitor magna. Pellentesque mi orci, venenatis in ultricies a, porttitor id neque. Ut vel libero eleifend, gravida ligula ut, cursus sem. Phasellus a dolor sit amet tellus imperdiet malesuada. Pellentesque suscipit, urna ut eleifend consequat, leo nisi ullamcorper erat, non pellentesque nisl arcu ut lectus.

Nam dolor nibh, dictum at finibus nec, tempor eget nulla. Phasellus feugiat velit id neque laoreet dapibus. Quisque suscipit augue porttitor est ullamcorper, eu tincidunt orci volutpat. Sed tristique turpis et felis scelerisque, eu facilisis libero porta. Nullam ac ultrices turpis. Pellentesque ipsum massa, gravida in quam quis, ultrices viverra ante. Nullam feugiat sem elementum, bibendum felis a, imperdiet risus. Quisque quis posuere lorem.
        </div>
        <div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bind="click: orgAdminAcceptAgreement, enable: adminOrgEnableButton">Agree</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
