<div class="main-section stay-up-to-date">
    <div class="overview-header">
        Stay up to date
    </div>
    <div class="pfda-cards pfda-cards-list">
        <div class="pfda-card pfda-card-padded pfda-card-rounded pfda-card-default pfda-card-bordered">
            Want to stay informed about the latest precisionFDA updates and challenges? Sign up for the mailing list.
            <div>
                <a class="btn btn-primary" href="https://list.nih.gov/cgi-bin/wa.exe?SUBED1=PRECISIONFDA&A=1" target="_blank">
                    <span class="fa fa-plus fa-fw" aria-hidden="true"></span> Sign Up
                </a>
            </div>
        </div>
    </div>
</div>
