<div class="jumbotron jumbotron-news-landing">
  <div class="container container-padded container-fluid">
    <div class="pfda-cards pfda-cards-align-centered pfda-cards-stretch">
      <div class="pfda-card pfda-challenge-card pfda-card-default pfda-card-rounded pfda-card-bordered pfda-card-padded pfda-card-shadow">
        <div class="media">
          <h3 class="text-center">COVID19 Precision Immunology App-a-thon</h3>
          <div class="pfda-challenge-diagram">
            <img class="img-responsive center-block" src="/assets/challenges/precision_immunology_graphic.png" alt="PrecisionFDA ICBI Brain TumorBiomarker Appathon">
          </div>
          <div class="media-body pfda-padded">
            <div class="pfda-card-body text-justify">
              <div>
                To date, the novel coronavirus disease 2019 (COVID-19) global pandemic, a respiratory disease caused by “severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2),” has killed over 1.16 million people worldwide to date. Despite accelerated research pace enabled by collaboration, important questions remained unanswered, e.g., what roles do genetic variabilities play in the individual immune response to this viral infection thus causing disparities in symptom and clinical outcome. Hence, better understanding the pathophysiology of COVID-19 is crucial to enable the diagnosis, prognosis and treatment strategies by researchers and healthcare professionals based on real-life evidence for clinical decision-making.
              </div>
              <div>
                The advent of high-throughput sequencing of lymphocyte antigen receptor genes has recently generated unprecedented opportunities for exploration of adaptive immune responses such as the critical role T cells play in the orchestration of antiviral response to infectious diseases including COVID-19. Furthermore, B cell response from longitudinal COVID-19 patient data showed converging IGHV3-driven BCR clusters closely associated with SARS-CoV-2 antibodies. Thus, comprehensive and longitudinal T cell receptor and B cell receptor repertoire analyses would reveal important findings that may explain the outcome disparity observed in patients. However, significant challenges remain in understanding the analysis techniques that most accurately reflect underlying biological phenomena and in harmonizing a variety of analysis pipelines. BCR analysis harbors additional complexities, including immunoglobulin (Ig) (antibody) gene somatic hypermutation and class switch recombination.
              </div>
              <br>
              <div>
                In this regard, the precisionFDA calls upon the scientific and analytics communities to develop innovative and user-friendly approaches to improve the understanding of the relationship between personalized immune repertoires and COVID disease-relevant phenomena and their associated external factors by accurate interpretation of rapidly shared datasets in public databases, such as iRECEPTOR Gateway. This precision immunology app-a-thon phase I will launch on Nov. 30, 2020 and end on Jan. 29, 2021. It comprises of two tracks: one for data scientists (immunology knowledge not required), and the other specifically designed for computationally immunologists. You are encouraged to participate in either or both track(s) to help our fight against COVID-19. Phase II is in planning stage that will task participants to create algorithms to incorporate the outputs from Phase I into clinically amenable formats. Please stay tuned for phase II details.
              </div>
              <br>
              <div>
                Dates: November 30 – Jan 29, 2021
              </div>
              <br>
              <p><%= link_to 'Click here to sign up for more information', 'https://www.surveymonkey.com/r/HWFX5GC', class: 'btn btn-primary', target: :_blank %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
