<div class="jumbotron jumbotron-news-landing">
  <div class="container container-padded container-fluid">
    <div class="pfda-cards pfda-cards-align-centered pfda-cards-stretch">
      <div class="pfda-card pfda-challenge-card pfda-card-default pfda-card-rounded pfda-card-bordered pfda-card-padded pfda-card-shadow">
        <div class="media">
          <h3 class="text-center">Brain Cancer Predictive Modeling and Biomarker Discovery Challenge</h3>
          <div class="pfda-challenge-diagram">
            <img class="img-responsive center-block" src="/assets/challenges/pFDA-ICBI-Brain-TumorBiomarker.jpg" alt="PrecisionFDA ICBI Brain TumorBiomarker Appathon">
          </div>
          <div class="media-body pfda-padded">
            <div class="pfda-card-body text-justify">
              <div>
                An estimated 86,970 new cases of primary brain and other central nervous system tumors are expected to be diagnosed in the US in 2019. Brain tumors comprise a particularly deadly subset of all cancers due to limited treatment options and the high cost of care. Clinical investigators at Georgetown University are seeking to advance precision medicine techniques for the prognosis and treatment of brain tumors through the identification of novel multi-omics biomarkers. In support of this goal, precisionFDA and The Georgetown Lombardi Comprehensive Cancer Center and The Innovation Center for Biomedical Informatics at Georgetown University Medical Center(Georgetown-ICBI) are launching the Brain Cancer Predictive Modeling and Biomarker Discovery Challenge on November 1, 2019! This challenge will ask participants to develop machine learning and/or artificial intelligence models to identify biomarkers and predict patient outcomes using clinical, DNA copy number, and gene expression data.
              </div>
              <br>
              <div>
                Dates: November 1 – February 1, 2020
              </div>
              <br>
              <p><%= link_to 'Click here to sign up for more information', 'https://form.jotform.com/92724845366972', class: 'btn btn-primary', target: :_blank %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
