<% content_for :title do %>Overview<% end %>

<div class="jumbotron">
  <div class="container">
    <h1>WELCOME to precisionFDA</h1>
    <p>Your community for NGS assay evaluation</p>
  </div>
  <% if @context.logged_in? %>
    <%= debug @debug_info %>
  <% end %>
</div>
