<% content_for :title do %>Overview<% end %>

<% if !@context.logged_in? %>
  <div class="jumbotron jumbotron-landing jumbotron-landing-guest jumbotron-particles">
    <div class="container">
      <div class="pfda-brand">
        <%= image_tag("precisionFDA.white.navbar-guest.png") %>
      </div>
      <div class="btn-player-wrapper">
        <a class="btn-player fa fa-play-circle"></a>
        <div class="jumbovideo">
          <div class="jumbovideo-player-wrapper">
            <div id="ytplayer" class="jumbovideo-player"></div>
          </div>
        </div>
      </div>
      <div class="guest-actions">
        <p class="lead">A community platform for NGS assay evaluation and regulatory science exploration.</p>
        <%= render "_partials/guest_actions" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="jumbotron jumbotron-landing jumbotron-particles">
    <div class="container">
      <h1>WELCOME to precisionFDA</h1>
      <p class="lead">A community platform for NGS assay evaluation and regulatory science exploration.</p>
    </div>
  </div>
<% end %>

<div class="showcase container">
  <div class="row">
    <div class="showcase-item col-md-6">
      <div class="showcase-icon">
        <span class="fa fa-files-o"></span>
      </div>
      <div class="showcase-content">
        <div class="showcase-heading">Files</div>
        <p class="lead">
          Backed by cloud storage, precisionFDA lets you upload your own files (or generate them through running apps); publish reference data or any other files; and browse other members' contributions.
        </p>
      </div>
    </div>

    <div class="showcase-item col-md-6">
      <div class="showcase-icon">
        <span class="fa fa-bullseye"></span>
      </div>
      <div class="showcase-content">
        <div class="showcase-heading">Comparisons</div>
        <p class="lead">
          Quantify the similarity between two sets of genomic variants (VCF files). Compare your own test set (for a given biospecimen) to established benchmark sets.
        </p>
      </div>
    </div>

    <div class="showcase-item col-md-6">
      <div class="showcase-icon">
        <span class="fa fa-cubes"></span>
      </div>
      <div class="showcase-content">
        <div class="showcase-heading">Apps</div>
        <p class="lead">
          Run mapping and variation calling pipelines or other Linux-based software apps on the cloud. Contribute your own software and scripts and let others explore them.
        </p>
      </div>
    </div>

    <div class="showcase-item col-md-6">
      <div class="showcase-icon">
        <span class="fa fa-sticky-note"></span>
      </div>
      <div class="showcase-content">
        <div class="showcase-heading">Notes</div>
        <p class="lead">
          Write and publish rich notes describing your thoughts and your work, and attach any files, comparisons or apps. See what others are doing and reproduce their workflows.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="below-fold-actions">
  <a class="btn btn-primary btn-lg" href="/learn">
    <span class="fa fa-info"></span> Learn more
  </a>
</div>
