<% content_for :title do %>Overview<% end %>

<% if !@context.logged_in? %>
  <div class="jumbotron jumbotron-landing jumbotron-landing-guest jumbotron-particles">
    <div class="container">
      <div class="pfda-brand">
        <%= image_tag("precisionFDA.white.navbar-guest.png") %>
      </div>
      <div class="btn-player-wrapper">
        <a class="btn-player fa fa-play-circle" title="Play video introducing precisionFDA mission"></a>
        <div class="jumbovideo">
          <div class="jumbovideo-player-wrapper">
            <div id="ytplayer" class="jumbovideo-player"></div>
          </div>
        </div>
      </div>
      <div class="guest-actions">
        <p class="lead">A community platform for NGS assay evaluation and regulatory science exploration.</p>
        <%= render "_partials/guest_actions" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="jumbotron jumbotron-landing jumbotron-particles">
    <div class="container">
      <h1>WELCOME to precisionFDA</h1>
      <p class="lead">A community platform for NGS assay evaluation and regulatory science exploration.</p>
    </div>
  </div>
<% end %>

<div class="showcase container">
  <div class="showcase-item">
    <div class="showcase-icon">
      <span class="fa fa-files-o"></span>
    </div>
    <div class="showcase-content">
      <div class="showcase-heading">Files</div>
      <ul class="list-unstyled lead">
        <li class="media">
          <div class="media-left">
            <span class="fa fa-fw fa-cloud-upload"></span>
          </div>
          <div class="media-body">
            <strong>Upload</strong> your own files on cloud storage
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <span class="fa fa-fw fa-bolt"></span>
          </div>
          <div class="media-body">
            <strong>Generate</strong> files through running apps
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <span class="fa fa-fw fa-bullhorn"></span>
          </div>
          <div class="media-body">
            <strong>Publish</strong> reference data or any other files
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <span class="fa fa-fw fa-list-alt"></span>
          </div>
          <div class="media-body">
            <strong>Browse</strong> other members' contributions
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="showcase-item">
    <div class="showcase-icon">
      <span class="fa fa-bullseye"></span>
    </div>
    <div class="showcase-content">
      <div class="showcase-heading">Comparisons</div>
      <ul class="list-unstyled lead">
        <li class="media">
          <div class="media-left">
            <span class="fa fa-fw fa-signal"></span>
          </div>
          <div class="media-body">
            <strong>Quantify</strong> the similarity between two sets of genomic variants (VCF files)
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <span class="fa fa-fw fa-balance-scale"></span>
          </div>
          <div class="media-body">
            <strong>Compare</strong> your own test set (for a given biospecimen) to established benchmark sets
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="showcase-item">
    <div class="showcase-icon">
      <span class="fa fa-cubes"></span>
    </div>
    <div class="showcase-content">
      <div class="showcase-heading">Apps</div>
      <ul class="list-unstyled lead">
        <li class="media">
          <div class="media-left">
            <span class="fa fa-fw fa-bolt"></span>
          </div>
          <div class="media-body">
            <strong>Run</strong> mapping and variation calling pipelines or other Linux-based software apps on the cloud
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <span class="fa fa-fw fa-code"></span>
          </div>
          <div class="media-body">
            <strong>Contribute</strong> your own software and scripts and let others explore them
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="showcase-item">
    <div class="showcase-icon">
      <span class="fa fa-sticky-note"></span>
    </div>
    <div class="showcase-content">
      <div class="showcase-heading">Notes</div>
      <ul class="list-unstyled lead">
        <li class="media">
          <div class="media-left">
            <span class="fa fa-fw fa-edit"></span>
          </div>
          <div class="media-body">
            <strong>Write and publish</strong> rich notes describing your thoughts and your work
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <span class="fa fa-fw fa-paperclip"></span>
          </div>
          <div class="media-body">
            <strong>Attach</strong> any files, comparisons, or apps
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <span class="fa fa-fw fa-copy"></span>
          </div>
          <div class="media-body">
            <strong>Read</strong> what others are reporting and reproduce their workflows
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr>

<div class="below-fold-actions">
  <a class="btn btn-primary btn-lg" href="<%= about_path %>">
    <span class="fa fa-info-circle"></span> Learn more about precisionFDA
  </a>
  <br>
  <a class="btn btn-link btn-lg" href="https://docs.google.com/forms/d/1zfGoy-4C9kLbHHg0Y-6iQoI3fdGq1IfugV9fXCqOBfY/viewform" target="_blank"><span class="fa fa-fw fa-commenting-o"></span> Feedback</a>
</div>
