<div class="pfda-main">Click <a href="<%= @remote_login_url %>">here</a> to proceed with the login authentication. Please note the following:</div>
<div class="pfda-main">
  <ul>
    <li>You are accessing a U.S. Government information system.</li>
    <li>System usage may be monitored, recorded, and subject to audit.</li>
    <li>Unauthorized use of the system is prohibited and subject to criminal and civil penalties.</li>
    <li>Use of the system indicates consent to monitoring and recording.</li>
    <li>Anyone using this system expressly consents to such monitoring and is advised that if such monitoring reveals possible criminal activity, system personnel may provide the evidence of such monitoring to law enforcement officials.</li>
  </ul>
</div>



