<div class="jumbotron jumbotron-news-landing">
  <div class="container container-padded container-fluid">
    <div class="pfda-cards pfda-cards-align-centered pfda-cards-stretch">
      <div class="pfda-card pfda-challenge-card pfda-card-default pfda-card-rounded pfda-card-bordered pfda-card-padded pfda-card-shadow">
        <div class="media">
          <h3 class="text-center">PrecisionFDA NCI-CPTAC Multi-omics Enabled Sample Mislabeling Correction Challenge</h3>
          <div class="pfda-challenge-diagram">
            <img class="img-responsive center-block" src="/assets/challenges/pFDA-nci-cptac-Diagram.png" alt="PrecisionFDA Mislabelling Challenge">
          </div>
          <div class="media-body pfda-padded">
            <div class="pfda-card-body text-justify">
              <div>
                Prepare to join the Challenge that utilizes multiple types of omics data to detect and correct mislabeled samples.
              </div>
              <br>
              <div>
                In biomedical research, sample mislabeling or incorrect annotation has been a long-standing problem that contributes to irreproducible results and invalid conclusions. These problems are particularly prevalent in large-scale multi-omics studies, in which multiple different omics experiments are carried out at different time periods and/or in different labs. Human sample labeling or annotation errors could arise during sample transferring, sample tracking, large-scale data generation, and data sharing/management. There is a pressing need to have computational programs to automatically screen for and to correct such incorrect sample labels or annotations. The goal of this challenge is to develop computational algorithms that can accurately detect and correct mislabeled samples and/or data in large-scale multi-omics studies.
              </div>
              <br>
              <div>
                The challenge starts on September 24th!
              </div>
              <br>
              <p><%= link_to 'Click here to sign up for more information' , 'https://form.jotform.com/81827419821967', class: 'btn btn-primary', target: :_blank %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
