<% content_for :title do %>News<% end %>

<div class="page-header">
  <div class="page-title text-center">
    <div class="h1">
      <span class="fa fa-lg fa-newspaper-o"></span> &nbsp;precisionFDA News
    </div>
  </div>
</div>

<div class="container container-padded">
  <div class="row">
    <div class="col-md-20 col-md-offset-2">
      <div class="news-item">
        <a target="blank" class="lead-intro" href="http://www.fda.gov/ScienceResearch/SpecialTopics/PrecisionMedicine/default.htm">
          Optimizing Regulatory Oversight for Next Generation Sequencing Test
          <br/>
          <h4 class="text-muted">July 6th, 2016</h4>
          <hr>
          <div class="lead">
            In support of the White House’s Precision Medicine Initiative, the FDA issued two draft guidances that offer a streamlined approach to the oversight of ‘Next Generation Sequencing’ tests that detect medically important differences in a person’s genomic makeup.
          </div>
        </a>
      </div>
      <div class="news-item">
        <a target="blank" class="lead-intro" href="https://www.youtube.com/watch?v=JCcpyJz49jE">
          Interview with the former FDA Chief Health Informatics Officer about precisionFDA
          <br/>
          <h4 class="text-muted">July 5th, 2016</h4>
          <hr>
          <div class="lead">
            <%= image_tag "misc/taha-interview-narrow.png", alt: "Interview with Dr Taha Kass-Hout", class: "img-responsive img-rounded" %>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
