<% content_for :title do %>Key<% end %>

<div class="container container-padded">
  <div class="row">
    <div class="col-md-12 col-md-offset-6">
      <p class="lead">
        This authorization key can be used for the next 24h.
        <br>
        Please keep it safe:
      </p>
      <div class="alert alert-warning text-monospace h5" style="color: black; word-wrap: break-word;"><%= @key %></div>
    </div>
  </div>
</div>
