<% content_for :title do %>Key<% end %>

<div class="container container-padded-v">
  <div class="row">
    <div class="col-md-12 col-md-offset-6">
      <p class="h3">Your authorization key</p>
      <p class="lead">
        This key is only valid for the next 24 hours. Please keep it safe:
      </p>
      <div class="alert alert-warning text-monospace h5" style="word-break: break-all;"><%= @key %></div>
    </div>
  </div>
</div>
