<div class="jumbotron jumbotron-news-landing">
  <div class="container container-padded container-fluid">
    <div class="pfda-cards pfda-cards-align-centered pfda-cards-stretch">
      <div class="pfda-card pfda-challenge-card pfda-card-default pfda-card-rounded pfda-card-bordered pfda-card-padded pfda-card-shadow">
        <div class="media">
          <div class="pfda-challenge-diagram">
            <img class="img-responsive center-block" src="/assets/challenges/truth_challenge_2.png" alt="Truth Challenge 2">
          </div>
          <div class="media-body pfda-padded">
            <div class="pfda-card-body text-justify">
              <div>
                To fully realize the promise of precision medicine based on an individual’s own genetic
                makeup, laboratory testing based on NGS platforms needs to achieve high accuracy
                and precision. To this end, precisionFDA has launched several crowdsourced
                informatics challenges using NGS data to benchmark and improve the identification of
                genetic variants. However, these benchmarks were limited to relatively “easier” regions
                of the genome. For instance, precisionFDA, in collaboration with The Genome in a
                Bottle (GIAB) Consortium led by the National Institute of Standards and Technology
                (NIST), successfully completed the Truth Challenge using a reference material HG002,
                also known as NA24385, the son of an Ashkenazi trio. More recently, new long and
                linked read technologies along with bioinformatics pipelines have enabled the
                characterization of increasingly challenging regions of the genome, such as an
                expanded benchmark developed by the GIAB for the parents of HG002 (HG003 and
                HG004).
              </div>
              <br>
              <div>
                Taking advantage of this opportunity, precisionFDA is launching a second
                iteration of the “Truth Challenge” by focusing on variant calling in challenging genomic
                regions in GRCh38. This challenge aims to provide a common frame of reference for
                measuring performance aspects of participants’ pipelines on difficult-to-map regions,
                segmental duplications, and the Major Histocompatibility Complex. Illumina, PacBio
                HiFi, and Oxford Nanopore sequencing datasets will be made available for this
                challenge.
              </div>
              <div>
                Dates: May 1-June 1, 2020
              </div>
              <br>
              <p><%= link_to 'Click here to sign up for more information', 'https://www.surveymonkey.com/r/JNV7HG9', class: 'btn btn-primary', target: :_blank %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
