<%= render "licenses/header" %>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane tab-pane-padded-xl active" id="tab-license">
    <div class="container container-padded">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pfda-md-rendered" data-bind="html: licenseDisplay"></div>
        </div>
      </div>
    </div>
  </div>
</div>
