<% content_for :title, "Invitations" %>

<div class="page-header">
  <div class="page-title">Invitations</div>
</div>

<div class="pfda-padded">
  <div class="invitations-search">
    <input type="text" id="search_input" class="form-control input-lg" placeholder="Search user by ID, name, or email">
  </div>
</div>

<!-- ko if: invitations().length -->
<div class="pfda-padded invitations">
  <%= render "admin/provision/invitations_table" %>
  <%= render "admin/provision/disable_screen_modal" %>
  <div class="pfda-padded-v">
    <button class="btn btn-primary btn-lg" data-bind="click: provisionUsers">Submit</button>
    <button class="btn btn-default btn-lg" data-bind="click: clearInvitations">Clear</button>
  </div>
</div>
  <!-- /ko -->
