<% content_for :title, "Invitations" %>

<div class="page-header">
  <div class="page-title">Invitations</div>
</div>

<div class="pfda-padded">
  <div class="invitations-search">
    <input type="text" id="search_input" class="form-control input-lg" placeholder="Search user by ID, name, or email">
  </div>
</div>

<!-- ko if: invitations().length -->
<div class="pfda-padded">
  <table>
    <thead></thead>
    <tbody>
    <!-- ko foreach: invitations -->
      <tr>
        <td data-bind="text: $data.email"></td>
        <td data-bind="click: $root.removeInvitation">remove</td>
      </tr>
    <!-- /ko -->
    </tbody>
  </table>
</div>
  <!-- /ko -->
