.trigger {
  width: fit-content;
  min-width: 100px;
}

.trigger[aria-disabled='true'] {
  background: var(--tertiary-300);
}

.trigger[data-disabled] {
  background: var(--tertiary-200);
}

.trigger[data-disabled]:hover {
  transform: none;
  background: var(--tertiary-200);
}

/* Message - specific to Actions menu */
.message {
  border-bottom: 1px solid var(--c-dropdown-menu-border);
  max-width: 200px;
  padding: 0 0.75rem;
  padding-bottom: 0.5rem;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--c-text-700);
}
