<% content_for :title do %>Notes<% end %>

<div class="pfda-toolbar">
  <div class="btn-group">
    <a class="btn btn-default" href="<%= new_note_path %>">
      <span class="fa fa-sticky-note fa-fw"></span> New Note
    </a>
  </div>
</div>

<div class="container-fluid">
  <%= render "notes/blocks", notes: @notes %>
</div>