<div class="page-header clearfix">
  <div class="page-title"><span class="fa fa-sticky-note-o"></span> New Note</div>
</div>

<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="btn-group pull-right">
        <div class="btn btn-default"><span class="fa fa-save"></span> Save</div>
      </div>
    </div>
    <div class="panel-body">
      <textarea rows="50" class="form-control" placeholder="Write your note..."></textarea>
    </div>
  </div>
</div>
