<%= form_for :note, url: notes_path do |f| %>
<div class="page-header clearfix">
  <div class="page-title">
    <div class="input-group">
      <input type="text" name="title" class="form-control input-lg" placeholder="New Note..." data-bind="textInput: title">
      <span class="input-group-btn">
        <button type="button" name="submit" type="submit" class="btn btn-default btn-lg disabled" data-bind="disabled: !isFormReady(), css: {disabled: !isFormReady()}"><span class="fa fa-save"></span> Save Note</button>
      </span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <div class="attachments">
  			<h4>Attachments</h4>
  			<ul id="attachment-list" class="list-group">
  				<li class="list-group-item attachment attachment-inline" data-attachment="0" draggable="true">
  					<a href="/files/1"><span class="fa fa-file-o"></span> File 1</a>
  				</li>
  				<li class="list-group-item attachment attachment-inline" data-attachment="1" draggable="true">
  					<a href="/comparisons/1"><span class="fa fa-crosshairs"></span> Comparison A vs B</a>
  				</li>
  				<li class="list-group-item attachment attachment-inline" data-attachment="2" draggable="true">
  					<a href="/apps/bwa"><span class="fa fa-cube"></span> BWA</a>
  				</li>
  			</ul>
  		</div>
    </div>

    <div class="col-xs-18">
      <div contenteditable="true" id="note-editor" class="note-editor"></div>
    </div>
  </div>
</div>
<% end %>
