<div class="page-header">
  <div class="page-title"><span class="fa fa-sticky-note"></span> My Note</div>
</div>

<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-body">
      [Metadata]
    </div>
  </div>
</div>
