<% content_for :title do %><%= @note.title %><% end %>

<% if @note[:user_id] == @context.user_id %>
  <div class="pfda-toolbar clearfix">
    <div class="btn-toolbar pull-right" data-bind="visible: !editing()" style="display: none">
      <div class="btn-group">
        <a class="btn btn-primary event-edit"><span class="fa fa-edit"></span> Edit</a>
        <% if @note.publishable_by?(@context) %>
          <a class="btn btn-success"><span class="fa fa-bullhorn"></span> Publish</a>
        <% end %>
      </div>
    </div>
    <div class="btn-toolbar pull-right" data-bind="visible: editing()" style="display: none;">
      <div class="btn-group">
        <a class="btn btn-default" data-bind="click: cancel">Cancel</a>
        <a class="btn btn-primary" data-bind="click: save, css: {disabled: !isFormReady()}">Save</a>
      </div>
      <div class="btn-group">
        <%= link_to note_path(@note), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "btn btn-danger" do %>
          <span class="fa fa-trash"></span> Delete
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="note-container container-fluid">
  <div class="note" data-bind="css: {'note-editing': editing}">
    <div class="note-titlebar">
      <div data-bind="visible: !editing()" style="display: none">
        <span class="fa fa-sticky-note"></span> <span class="note-title" data-bind="text: title"><%= @name %></span>
      </div>
      <div class="input-group" data-bind="visible: editing()" style="display: none">
        <span class="input-group-addon"><span class="fa fa-sticky-note"></span> </span>
        <input class="form-control" name="title" placeholder="Note title..." data-bind="textInput: title.cache" />
      </div>
    </div>
    <div class="note-flexbox">
      <div class="note-pane">
        <div class="ace-editor-section" data-bind="visible: editing()" style="display: none">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-tabs-padded" role="tablist">
            <li role="presentation" class="active"><a href="#tab-note-editor" aria-controls="tab-note-editor" role="tab" data-toggle="tab">Edit Note Content</a></li>
            <li role="presentation"><a href="#tab-note-preview" aria-controls="tab-note-preview" role="tab" data-toggle="tab">Preview</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane tab-pane-padded active" id="tab-note-editor">
              <div id="note-editor" class="ace-rounded" data-bind="ace: content.cache, aceOptions: { mode: 'markdown', theme: 'textmate', opts: {maxLines: Infinity, setWrapBehavioursEnabled: true, wrap: 'free'}}"></div>
              <p class="help-block text-right">Format with <a href="https://jonschlinkert.github.io/remarkable/demo/" target="_blank">Markdown syntax <span class="fa fa-external-link-square" aria-hidden='true'></span></a></p>
            </div>
            <div role="tabpanel" class="tab-pane tab-pane-padded" id="tab-note-preview">
              <div class="note-preview" data-bind="html: content.preview"></div>
            </div>
          </div>
        </div>
        <div class="note-display" data-bind="visible: !editing(), html: content.display">
        </div>
      </div>
      <div class="note-sidebar">
        <div id="note-attachments" class="note-attachments">
          <div class="note-section-title"><span class="fa fa-paperclip"></span> Attachments</div>

          <!-- ko foreach: attachments -->
          <div class="list-group" data-bind="visible: items().length > 0, css: className">
            <div class="list-group-item">
              <div class="list-group-item-heading" data-bind="text: heading"></div>
            </div>
            <!-- ko foreach: items -->
              <div class="list-group-item attachment" data-bind="attr: {'item-id': id, 'item-type': type}, css: {removed:removed.cache}, visible: !removed() && !(removed.cache() && !$root.editing())">
                <span data-bind="css: $parent.iconClass"></span>
                <a class="item-name" data-bind="text: name, attr: {href: path}" tabindex="-1" ></a>
                <a class="btn btn-link btn-link-danger btn-remove pull-right" data-bind="click: toggleRemove, css: removed.cache() ? 'fa fa-plus' : 'fa fa-times'"></a>
              </div>
            <!-- /ko -->
          </div>
          <!-- /ko -->
        </div>
      </div>
    </div>
  </div>
</div>
