# These people or teams will be automatically included in PRs and can be required for review by policy for selected branches.

# DevOps
/.github @gitbisect
/chef @gitbisect
/userdata @gitbisect
/infra @gitbisect

# Frontend
/packages/client @ddcech @jirkalagan @pavelkubal @lbobek-dnanexus @bartapes @nganphtgit

# CLI
/packages/cli @jirkalagan

# Backend (Node & Ruby)
/packages/server @jirkalagan @pavelkubal @lbobek-dnanexus @bartapes @nganphtgit
/packages/rails @jirkalagan @pavelkubal @lbobek-dnanexus @bartapes @nganphtgit

