HOST=https://localhost:3000
RAILS_LOG_TO_STDOUT=false
MAX_TIME_INACTIVITY=20000000
SESSIONS_LIMIT=5
NO_FIPS=1

ADMIN_TOKEN=
CHALLENGE_BOT_TOKEN=

RECAPTCHA_SITE_TEST_KEY=
RECAPTCHA_SECRET_TEST_KEY=

BILLING_CONFIRMATION=

# this is needed for delivering emails through the AWS SES
SMTP_USER=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_HOST=
SMTP_FROM_ADDRESS=

REDIS_WORKER_URL=

# Org for site admins
PFDA_ADMIN_ORG=

HTTPS_APPS_API_URL=https://localhost:3001
