RAILS_LOG_TO_STDOUT=false
MAX_TIME_INACTIVITY=20000000
SESSIONS_LIMIT=5
NO_FIPS=1

# space-separated list of users
CUSTOM_SITE_ADMINS=

# space-separated list of users
REVIEW_SPACE_ADMINS=

ADMIN_TOKEN=
CHALLENGE_BOT_TOKEN=

RECAPTCHA_SITE_TEST_KEY=
RECAPTCHA_SECRET_TEST_KEY=

BILLING_CONFIRMATION=

# this is needed for delivering emails through the Salesforce
SALESFORCE_USERNAME=
SALESFORCE_PASSWORD=
SALESFORCE_SECRET_TOKEN=
SALESFORCE_HOST=
SALESFORCE_FDA_EMAIL_ID=
SALESFORCE_NOTIFIER_EMAIL_ID=

# this is set in production env only
DNANEXUS_BACKEND=
REDIS_URL=localhost:6379
