.dropdown
  position: relative

  &_control
    background-color: #1F70B5
    border-color: #1b639f
    color: #F4F8FD
    font-weight: 700
    display: flex
    border-radius: 3px

  &_menu
    position: absolute
    background: #ffffff
    border: 1px solid #979797
    padding: 0 10px
    right: -13px
    top: 26px
    color: #000000
    font-weight: 400
    font-size: 18px
    border-radius: 2px

  .Dropdown-arrow-wrapper
    margin-left: 3px
