<% content_for :title do %>Create a new Get Started Box<% end %>

<%= render partial: "admin/_partials/workbench_toolbar" %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-inbox"></span>
    Create a new Get Started Box
  </div>
</div>

<%= render 'form' %>
