<li data-bind="css: {required: isRequired}">
  <div class="variant-input-cell">
    <div class="file-label"><span class="fa fa-fw fa-file-o"></span> <span data-bind="text: label"></span></div>
    <div class="file-optional" data-bind="visible: !isRequired">Optional</div>
  </div>
  <div class="variant-input-cell">
    <button class="btn btn-info" data-bind="text: valueDisplay, attr: {name: name, disable: $root.busy}, click: openFileSelector, css: { 'btn-info': !value(), 'btn-default': value}">Select file...</button>
    <!-- ko if: value -->
      <button class="btn btn-link btn-link-danger" data-bind="click: clear">Clear</button>
    <!-- /ko -->
  </div>
</li>
