<li data-bind="css: {required: isRequired}">
  <div class="variant-input-cell">
    <div class="file-label">
      <!-- ko if: value -->
        <a class="link-danger" data-bind="click: clear"><span class="fa fa-fw fa-times"></span></a>
      <!-- /ko -->
      <!-- ko if: !value() -->
        <span class="file-icon"><span class="fa fa-fw fa-file-o"></span></span>
      <!-- /ko -->
      <span data-bind="text: label"></span></div>
    <div class="file-optional" data-bind="visible: !isRequired">Optional</div>
  </div>
  <div class="variant-input-cell">
    <button class="btn btn-info" data-bind="text: valueDisplay, attr: {name: name, disable: $root.busy}, click: openFileSelector, css: { 'btn-info': !value(), 'btn-default': value}">Select file...</button>
  </div>
</li>

<%= render "_partials/selector_modal" %>
