<% content_for :title do %>Discussions<% end %>

<div class="pfda-toolbar">
  <div class="btn-group">
    <%= link_to discussions_path(), method: :post, class: 'btn btn-primary', data: {disable_with: "Loading..."} do %>
      <span class="fa fa-plus fa-fw"></span> Start a discussion
    <% end %>
  </div>
</div>

<div class="pfda-pane container-fluid">
  <div class="pfda-pane-content">
    <%= render "discussions/cards", discussions: @discussions %>
  </div>
  <div class="pfda-pane-sidebar pfda-pane-sidebar-padded-v hide">
    <div class="list-group">
      <a href="<%= discussions_path() %>" class="list-group-item active">
        All Discussions
      </a>
      <a href="<%= discussions_path() %>" class="list-group-item">
        My Discussions
      </a>
      <a class="list-group-item" href="">Featured</a>
    </div>

    <div class="list-group">
      <div class="list-group-item list-group-item-header">
        Topics
      </div>
      <a class="list-group-item" href="">NA12878</a>
      <a class="list-group-item" href="">References</a>
    </div>
  </div>
</div>
