<% content_for :title do %>Edit  Comment<% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-comment"></span>
    Edit your comment on <%= @item.klass %>: <%= link_to @item.title, @item_comments_path %>
  </div>
</div>

<div class="container-fluid container-padded">
  <% if @item.klass == 'space' %>
    <div class="pfda-comments-container">
      <div class="pfda-comment">
        <div class="pfda-comment--with-mentions">
              <%= render "comments/nested_form",
                comment: @comment,
                url: polymorphic_path(@items_from_params + [@comment]),
                hide_assoc_with: true
              %>
        </div>
      </div>
    </div>
  <% else %>
    <%= render "comments/form", comment: @comment, url: polymorphic_path(@items_from_params + [@comment]) %>
  <% end %>
</div>
