
.row
  .col-sm-offset-5
    .description
      p
        color: #4b74a0
.row
  justify-content: center
  .form-horizontal
    .form-group-lg
      .request_access_form_font_color
        color: #6e6e6e

      .request_reason_text_custom
        color: #333333
        font-weight: bold
      .request_data_text_custom
        color: #333333
        font-weight: 400

#new_invitation
  .intended-use
    padding-bottom: 1em
  .checkbox
    display: flex
    gap: 16px

  .text-primary
    color: #1F70B5 !important
    font-size: 18px

  a
    color: #1F70B5 !important

  .accessible-btn-success
    color: #fff !important
    background-color: #518400 !important
    border-color: #518400 !important

  .accessible-btn-success:hover
    color: #fff !important
    background-color: #325100 !important
    border-color: #2b4700 !important
