<% content_for :title do %>Edit Space Template
<% end %>


<div class="page-header">
  <div class="page-title">
    <span class="fa fa-groups"></span>
    Edit Copy of Review Space Template
  </div>
</div>

<%= render 'form' %>