<% content_for :title do %>Create New Review Space Template
<% end %>


<div class="page-header">
  <div class="page-title">
    <span class="fa fa-groups"></span>
    Create New Review Space Template
  </div>
</div>

<%= render 'form' %>
