<% content_for :title do %>Review Space Template
<% end %>


<div class="page-header">
  <div class="page-title">
    <span class="fa fa-groups"></span>
    Review Space Template
  </div>
</div>

<%= render 'form' %>