NODE_ENV=local
NODE_DATABASE_NAME=precision-fda
NODE_DATABASE_URL=mysql://root@localhost:3306/precision-fda
NODE_DATABASE_DEBUG=true
NODE_REDIS_URL=redis://localhost:6379/0
NODE_REDIS_AUTH=
# expected value in seconds
NODE_STALE_JOBS_EMAIL_AFTER=
# expected value in seconds
NODE_STALE_JOBS_TERMINATE_AFTER=
