@import "_common"

.pfda-controller-challenges
  h3
    text-transform: uppercase
    color: $brand-blue-tertiary

  h4
    margin-top: $padding-large-vertical*2
    padding-bottom: $padding-large-vertical
    border-bottom: 1px solid $border-default-color

  .challenge-title-muted
    opacity: 0.65

  .tiltview
    opacity: 0.25

  .pfda-card
    @include flex-grow(1)

    .challenge-card-icon
      text-align: center
      margin-bottom: $padding-large-vertical
