@import "_common"

.pfda-controller-challenges
  a
    font-weight: bold

  h3
    text-transform: uppercase
    color: darken($brand-blue-tertiary, 15%)
    margin-bottom: $padding-large-vertical*2

  .challenge-title-muted
    opacity: 0.65

  .tiltview
    opacity: 0.25
    width: 100%

  .well
    background-color: $brand-blue-subtler
    border-color: $brand-blue-subtle

  .btn-join
    .fa
      font-size: 48px
    .time-remaining
      font-weight: 300
      font-size: 18px

  .pfda-challenge-intro
    .lead-intro
      margin: 50px 0

    .pfda-card
      @include flex-grow(1)

      .challenge-card-icon
        text-align: center
        margin-bottom: $padding-large-vertical*2

  .pfda-challenge-diagram
    text-align: center
    padding: 0 25px

  #accordion
    .panel-title
      text-transform: none
      color: $link-color

      &:hover
        color: $link-hover-color


.challenge-badge
  text-transform: uppercase
  border-radius: 20px
  padding: $padding-small-vertical $padding-small-vertical
  font-size: 12px
  white-space: nowrap
  display: inline-block

  &.challenge-badge-lg
    border-radius: 50px
    font-size: 20px
    padding: $padding-base-vertical $padding-base-horizontal

  &.challenge-badge-medal
    background-color: $label-warning-bg
    color: #fff
    .fa-inverse
      color: $label-warning-bg

  &.challenge-badge-recognition-highest
    background-color: $label-primary-bg
    color: #fff

  &.challenge-badge-recognition
    background-color: $state-info-bg
    color: $state-info-text
