@import "_common"

$invitations-search-width: 900px

.pfda-controller-invitations.pfda-action-index
  .invitations-search
    width: 100%
    clear: both
    display: table
    &-input
      max-width: $invitations-search-width
      width: 100%
      float: left
      margin-right: 10px
    &-browse
      float: left
    &-info
      max-width: $invitations-search-width
      margin: 16px
      margin-top: 0px
  .invitations
    &-original-values
      td
        margin-right: 20px
        padding-top: 5px
        padding-left: 20px
        padding-bottom: 10px
        white-space: nowrap
  .wide-modal
    .table
      width: 100% !important
      white-space: nowrap
