@import "_common"

.pfda-controller-provision.pfda-action-invitations
  .invitations-search
    max-width: 900px
  .invitations
    &-original-values
      td
        margin-right: 20px
        padding-top: 5px
        padding-left: 20px
        padding-bottom: 10px
        white-space: nowrap
