@import "_common"

.login-alert
  margin-top: 20px
  margin-bottom: 20px

.pfda-guest
  &.pfda-controller-main.pfda-action-index
    .navbar
      background-color: transparent
      position: absolute
      width: 100%
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
      border: 0

.pfda-controller-main.pfda-action-index main
  .jumbotron
    background-color: mix($brand-blue-dark, $brand-blue-primary, 50%)
    background-image: url("/assets/particles3.png")
    background-repeat: no-repeat
    background-size: cover
    background-position: 50% 50%
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1)
    position: relative
    margin: 0

    .container
      padding: 75px 20px
      text-align: center

      h1, p
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75)
        color: $brand-blue-subtler

      h1
        font-weight: 200
        font-size: 72px

      p
        font-weight: bold
        font-size: 24px

      @media (max-width: $screen-xs-max)
        h1
          font-size: 48px
        p
          font-size: 18px

  .guest-actions
    padding: 20px
    background-color: $brand-blue-subtler
    border-bottom: 1px solid $hr-border

    .btn-group
      margin-right: 10px

    @media (max-width: $screen-xs-max)
      .btn-group
        margin-right: 0

      .btn
        margin-top: 10px
        width: 100%
        border-radius: $btn-border-radius-large

  .showcase
    padding: 20px 50px

    .showcase-item
      min-height: 250px
      padding: 0 10px
      text-align: center

      @media (max-width: $screen-md-max)
        margin-bottom: 30px

      .showcase-icon
        .fa
          font-size: 75px
          color: $brand-red-primary

      .showcase-heading
        font-size: $font-size-h3
        color: $brand-blue-tertiary
        font-weight: 300
        text-transform: uppercase
        margin: 10px 0

      .lead
        font-size: 18px
        font-weight: 500
        color: $text-muted


        @media (max-width: $screen-md-max)
          font-size: 22px

.pfda-controller-main.pfda-action-request_access main
  .page-title
    color: $brand-blue-tertiary

  form
    margin-top: 20px
    padding: 10px

    .form-group-lg
      .checkbox
        height: 46px
        padding: 11px 16px
        font-size: 18px
        line-height: 1.3333333
        border-radius: 3px
