@import "_common"

.pfda-controller-meta_appathons
  .meta_appathon-title-muted
    opacity: 0.65

  .metadata-section
    .list-group-item
      padding-left: 0

  .lead-intro
    margin: 0

.pfda-meta-appathon-intro
  padding: 100px 20px
  width: 800px
  margin: auto

.pfda-meta-appathon-section
  background-color: lighten($brand-blue-subtler, 1%)

.pfda-meta_appathon-participants
  padding: $padding-base-horizontal
  border-bottom: 1px solid $border-default-color

  ul
    margin-bottom: 0
