.time_zone_infoframe
  padding-bottom: 9px
  margin-bottom: -1px
  h5
    margin-bottom: 4px
  select
    border-style: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    color: #333333
    height: 18px
    padding: 0
    margin: 0 1px 0 -3px
    line-height: 10px
    display: inline-block
    width: 102%
  select:active
    border-style: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
  select:focus
    border-style: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
