.pfda-controller-tasks.pfda-action-show
  .task-status
    font-size: 20px
  .tasks-actions-modal
    .control-label
      text-align: left
    textarea
      resize: vertical
    .loader-container
      display: none
    &.loading
      .modal-footer
        position: relative
      .loader-container
        position: absolute
        display: flex
        height: 100%
        width: 100%
        top: 0
        .loader
          margin: auto
          font-size: 30px
      .modal-body,
      .modal-footer
        visibility: hidden
    .add-atwho
      min-height: 150px
      overflow: auto
      &:empty:before
        content: attr(data-placeholder)
        color: #999
