// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.pfda-controller-users
  .edit-gravatar-text
    display: block
    margin-top: 5px
    font-size: 12px
    line-height: 1
    text-align: center
