<% content_for :title, "Admins" %>

<div class="page-header">
  <div class="media">
    <div class="media-body">
      <div class="page-title">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        Admins
      </div>
    </div>
  </div>
</div>

<div class="pfda-padded">
  <a class="btn btn-primary" rel="nofollow" href="<%=admin_new_admin_path%>">
    <i class="fa fa-plus"></i>&nbsp;Provision new admin
  </a>
</div>


<div class="pfda-toolbar">
  <ul class="nav nav-pills nav-pills-center nav-pills-sm">
    <li class="<% if action_name == 'index'  && params[:group] == 'site' %>active<% end %>">
      <%= link_to admin_admin_groups_path(:group => "site") do %>
        <span class="fa fa-globe"></span> <span class="pill-label">Site Admins</span>
      <% end %>
    </li>
    <li class="<% if action_name == 'index'  && params[:group] == 'space'%>active<% end %>">
      <%= link_to admin_admin_groups_path(:group => "space")  do %>
        <span class="fa fa-folder"></span> <span class="pill-label">Space Admins</span>
      <% end %>
    </li>
    <li class="<% if action_name == 'index'  && params[:group] == 'challenge'%>active<% end %>">
      <%= link_to admin_admin_groups_path(:group => "challenge")  do %>
        <span class="fa fa-trophy"></span> <span class="pill-label">Challenge Admins</span>
      <% end %>
    </li>
  </ul>
</div>

