<div class="infoframe-outer">
  <div class="infoframe-inner">
    <h4 class="infoframe-title">Users Search</h4>
    <div>
      <%= render partial: "grid", locals: { show_filters: :always } %>
    </div>
  </div>
</div>