<div class="infoframe-outer">
  <div class="infoframe-inner">
    <h4 class="infoframe-title">Users Search</h4>
    <div>
      <%= render "grid", show_filters: :always, users_grid: @users_grid  %>
    </div>
  </div>
</div>