.node-path {
  fill: none;
  stroke: #8198BC;
}

.node a {
  display: inline-block;
  padding: 5px;
  font-size: 13px;
  white-space: nowrap;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #1F70B5;
  font-family: serif;
}

.node svg path {
  fill: #1F70B5;
}

.node a:hover {
  color: #4297df;
}

.node a:hover svg path {
  fill: #4297df;
}

.node .content {
  text-align: center;
}

.node .content svg {
  height: 18px;
  vertical-align: middle;
  padding-right: 5px;
}

.node .content span {
  vertical-align: middle;
}

.canvas {
  display: inline-block;
  padding: 16px 16px;
}
