@import "../../../../styles/common.sass"
@import "../../../../styles/variables.sass"

.challenges-list
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-content: stretch
  justify-content: center

  padding-inline-start: 0px

  &__state-current
    color: $brand-running-color
    background-color: $brand-running-bg

  &__state-upcoming
    color: $brand-done-color
    background-color: $brand-done-bg

  &__state-done
    color: $brand-failed-color
    background-color: $brand-failed-bg


.challenges-list-section-header
  margin-bottom: 8px

  div
    vertical-align: top

  hr
    width: $pfda-thumbnail-width
    border: 0
    height: $pfda-highlight-bar-width
    background: $pfda-highlight-yellow
    margin: 10px 0 0 0
    vertical-align: middle

  .label
    @extend .pfda-subsection-heading
    text-align: left
    text-transform: uppercase
    margin: 0
    padding-left: 0

  &.upcoming
    hr
      background: $pfda-highlight-yellow

  &.current
    hr
      background: $pfda-highlight-green

  &.ended
    hr
      background: $pfda-highlight-blue


.challenges-list-item
  display: flex
  flex-flow: row nowrap
  list-style: none
  margin-bottom: $pfda-main-content-vertical-padding

  .challenge-image
    cursor: pointer
    padding: 0px

    img
      width: $pfda-thumbnail-width
      height: $pfda-thumbnail-height
      object-fit: contain
      overflow: hidden

  .challenge-content
    flex-grow: 1
    vertical-align: top
    padding: 0 0 0 $pfda-main-content-horizontal-padding

    h1
      @extend .pfda-section-heading
      cursor: pointer
      padding-top: 0px
      margin-top: 0px
      margin-bottom: 8px

      &:hover
        color: $pfda-text-dark-grey

    .date-area
      font-size: 12px
      color: $pfda-text-dark-grey

      .challenge-date-label
        font-size: 10px
        color: $pfda-text-medium-grey
        text-transform: uppercase

      .challenge-date
        padding: 3px 3px
        margin: 3px
        font-weight: 500

      .challenge-date-remaining
        font-weight: 600
        margin-left: 12px
        display: inline-block

    p
      font-size: $pfda-font-size-body
      font-weight: 400
      color: $pfda-text-medium-grey
      margin-top: 5px

    button
      margin-right: $pfda-button-spacing

  &.upcoming

  &.current

  &.ended
    .challenge-date-label
      color: $pfda-text-medium-grey

  @media (max-width: 768px)
    flex-flow: row nowrap

    .challenges-list-section-header
      hr
        width: $pfda-thumbnail-width * 0.6

    .challenge-image
      img
        width: $pfda-thumbnail-width * 0.6
        height: $pfda-thumbnail-height * 0.6


.pfda-pagination
  display: flex
  justify-content: center
  margin: 0 auto

  &__page
    color: black
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    padding: 6px
    margin: 0 6px
    width: auto
    background: none
    border: none

    &:last-child

    &--active
      color: $pfda-highlight-blue

    &--prev, &--next
      cursor: pointer
      color: $color-primary
      background-image: none
      background-color: #ffffff
      border: 1px solid $color-primary
      border-radius: 3px
      white-space: nowrap
      padding: 6px 12px
      font-size: 14px
      font-weight: bold
      text-transform: capitalize
      line-height: 1.428571429

      &:not(.disabled)
        &:hover, &:focus, &:active, &.active
          color: $pfda-highlight-blue
          border-color: #63a5de
          background-color: rgb(244, 248, 253)

    &--prev::after
      content: ' Prev'

    &--next::before
      content: 'Next '
