<% content_for :title do %><%= @workflow.title %><% end %>

<div class="page-header clearfix">
  <div class="page-title">Run batch workflow</div>
  <% if action_name == 'batch_workflow' %>
  <% else %>
    <div class="page-title"><span class="fa fa-cube"></span> <%= @workflow.title %></div>
  <% end %>
</div>

<div class="pfda-pane-content">
  <%= render "/workflows/detail", workflow: @workflow, analyses_grid: @analyses_grid, step: @step %>
</div>
