<% content_for :title do %>Fork Workflow<% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-cubes"></span>
    Fork Workflow
  </div>
</div>
<%= render "workflows/editor", workflow: @workflow %>
