<% content_for :title do %>Create New Workflow<% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-cubes"></span>
    Create Workflow
  </div>
</div>

<%= render "workflows/editor" %>
