<% content_for :title do %>Create New Workflow<% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-cubes"></span>
    Create Workflow
  </div>
</div>

<div class="pfda-toolbar">
  <div class="form-group text-centered">
    <div class="control-group">
      <button class="btn btn-primary btn-sm btn-browse-files" data-bind="click: openCwlImport">
        <i class="fa fa-files-o"></i>&nbsp;Import from *.cwl file
      </button>
      <button class="btn btn-primary btn-sm btn-browse-files" data-bind="click: openWdlImport">
        <i class="fa fa-files-o"></i>&nbsp;Import from *.wdl file
      </button>
    </div>
  </div>
</div>

<%= render "workflows/editor/editor" %>
<%= render "workflows/cwl_wdl_import/import_cwl_wdl_modal" %>
<%= render "workflows/cwl_wdl_import/import_cwl_wdl_success_modal" %>
