<li class="pfda-post pfda-post-comment list-unstyled">
  <div class="media">
    <div class="media-left pfda-post-icon-wrapper">
      <span class="fa fa-fw <%= fa_class(event.item) %>"></span>
    </div>
    <div class="media-body">
      <%= render "event_header", event: event %>
      <div class="pfda-comment-body"><%= event._body %></div>
    </div>
  </div>
</li>
