<div class="pfda-feed">
  <% if !feed.nil? && feed.size > 0 %>
    <% feed.each do |event| %>
      <% case event.item.klass %>
      <% when "comment" %>
        <%= render "spaces/comment", event: event %>
      <% when "task" %>
        <%= render "spaces/task", event: event %>
      <% else %>
        <%= render "spaces/event", event: event %>
      <% end %>
    <% end %>
  <% else %>
    <div class="text-muted">No posts have been made to this space.</div>
  <% end %>
</div>
