<div class="container-fluid container-padded">
  <% if !@space.unactivated? %>
    <%= render "spaces/new_post", url: url, object: object %>
    <hr>
  <% end %>
  <%= render "spaces/posts", feed: @feed%>
</div>
