<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tab-apps">
    <div class="panel">
      <div class="panel-heading">
        <h4>Assets</h4>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
