<%= render "spaces/header" %>

<% @show_contents = @space.active? or (@space.host_project.present? and @space.is_host_admin?(@context)) %>
<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane tab-pane-padded-lg active" id="tab-comments">
    <% if !@show_contents %>
      <div class='pfda-help-block'>
        <p class="lead"><span class='fa fa-warning' aria-hidden='true'></span> This Space has not yet been activated</p>
        <% if @space.is_review? %>
          <p>The reviewer lead must click "Accept space" to activate it.</p>
        <% else %>
          <p>Both host and guest leads must click "Accept space" to activate it.</p>
        <% end %>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-12">
        <% if @space.space_type == "review" %>
          <%= render "spaces/posts_wrapper", url: @item_comments_path, feed: @feed, object: @space %>
        <% else %>
          <%= render "comments/comments_wrapper", comments: @comments, items_from_params: @items_from_params, url: @item_comments_path, object: @space %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
