<%= render "spaces/header" %>

<% if @space.active? %>
  <!-- Tab panes -->
  <div class="tab-content" id="ko_spaces_discuss_container">
    <div role="tabpanel" class="tab-pane tab-pane-padded-lg active" id="tab-comments">
      <div class="spaces-comments-container">
        <%= render "comments/nested_comments_wrapper", comments: @comments, items_from_params: @items_from_params, url: @item_comments_path, object: @space %>
      </div>
    </div>
  </div>
<% end %>
