<%= render "spaces/header" %>

<% if @space.active? %>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane tab-pane-padded-lg active" id="tab-comments">
      <div class="row">
        <div class="col-md-12">
          <%= render "comments/comments_wrapper", comments: @comments, items_from_params: @items_from_params, url: @item_comments_path, object: @space %>
        </div>
      </div>
    </div>
  </div>
<% end %>
