<div class="tab-content">
  <div role="tabpanel" class="tab-pane tab-pane-padded-lg active" id="tab-data">
    <% unless @space.active? %>
      <div class='pfda-help-block'>
        <p class="lead"><span class='fa fa-warning' aria-hidden='true'></span> This Space has not yet been activated</p>
        <p>Both host and guest leads must click "Accept space" to activate it.</p>
      </div>
      <% if @total_count > 0 %><hr><% end %>
    <% end %>

    <% if defined?(@comparisons_grid) %>
      <div class="panel">
        <div class="panel-heading">
          Comparisons &nbsp;<small class="text-muted"><%= @counts[:comparisons] %></small>
        </div>
        <div class="panel-body">
          <%= render "comparisons/grid", comparisons_grid: @comparisons_grid, scope_icon: false, hide_access: true, show_filters: :when_filtered %>
        </div>
      </div>
    <% end %>
    <% if defined?(@assets_grid) %>
      <div class="panel">
        <div class="panel-heading">
          Assets &nbsp;<small class="text-muted"><%= @counts[:assets] %></small>
        </div>
        <div class="panel-body">
          <%= render "assets/grid", assets_grid: @assets_grid, scope_icon: false, hide_access: true, show_filters: :when_filtered %>
        </div>
      </div>
    <% end %>

  </div>
</div>
