<% content_for :title do %>Spaces<% end %>

<% if @context.user.can_administer_site? %>
<div class="pfda-toolbar">
  <div class="btn-group">
    <%= link_to new_space_path, class: 'btn btn-primary' do %>
      <span class="fa fa-plus fa-fw"></span> Provision a Space
    <% end %>
  </div>
</div>
<% end %>

<%= render "spaces/grid", spaces_grid: @spaces_grid %>
