<% content_for :title do %>Spaces<% end %>

<%= render '_partials/space_navigation_tabs' %>

<% if @context.can_create_spaces? %>
  <div class="pfda-padded">
    <%= link_to new_space_path, class: 'btn btn-primary' do %>
      <span class="fa fa-plus fa-fw"></span> Provision a Space
    <% end %>
  </div>
<% end %>

<%= render "spaces/grid", spaces_grid: @spaces_grid %>
