<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tab-notes">
    <div class="panel">
      <div class="panel-heading">
        <h4>Notes</h4>
      </div>
      <div class="panel-body">
        <%= render "notes/cards", notes: @notes_list, scope_icon: false %>
      </div>
    </div>
  </div>
</div>
