<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tab-apps">
    <div class="panel">
      <div class="panel-heading">
        <h4>Workflows</h4>
      </div>
      <div class="panel-body">
        <%=
          render "workflows/grid",
                 workflows_grid: @workflows_grid,
                 scope_icon: false,
                 hide_access: true,
                 show_filters: :when_filtered
        %>
      </div>
    </div>
  </div>
</div>
