<div class="jumbotron jumbotron-challenges">
  <div class="container container-fluid tiltview-container">
    <div class="tiltview-description">
      <h1>
        <span class="challenge-title-muted">PrecisionFDA</span>
        <br>
        Consistency Challenge
      </h1>
      <p>Engage and improve DNA test results with our first community challenge</p>

      <br>
      <br>
      <div class="row">
        <div class="col-sm-6 col-xs-24">
          <% if @challenge[:launched] %>
            <a class="btn btn-join <%= @btn_class %> btn-lg text-uppercase" href="<%= @challenge[:active] ? join_challenge_path(@discussion[:id]) : discussion_path(@discussion[:id]) %>" role="button">
              <div class="media">
                <div class="media-left">
                  <span class="fa fa-trophy" aria-hidden="true"></span>
                </div>
                <div class="media-body text-left">
                  <% if !@challenge[:active] %>
                    Challenge Closed
                    <br>
                    <small class="time-remaining">
                      View Responses
                    </small>
                  <% else %>
                    <% if @challenge[:joined] %>
                      Challenge Joined!
                    <% else %>
                      Join the Challenge
                    <% end %>
                    <br>
                    <div class="time-remaining">
                      <%= distance_of_time_in_words_to_now(@challengedEndDate) %> remaining
                    </div>
                  <% end %>
                </div>
              </div>
            </a>
          <% else %>
            <button class="btn btn-default btn-join btn-lg text-uppercase disabled">
              Challenge Launching Soon
            </button>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tiltview col" aria-hidden="true">
      <%= image_tag("challenges/pFDA-C1-Diagram", alt: "PrecisionFDA Consistency Challenge", class: "img-responsive img-thumbnail") %>
    </div>
  </div>
</div>
