<div class="table-responsive">
  <table class="table table-condensed table-bordered table-nowrap">
    <thead>
      <tr>
        <th>Label</th>
        <th>VCF Files</th>
        <th>Comparisons</th>
      </tr>
    </thead>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/eric.banks">ebanks-nist</a>*</td>
      <td><a href="/files/file-Bq8B98003fJy7x5f2GXpvFqy">G1</a>,
        <a href="/files/file-Bq8BF8j03fJf0xG3F0Y8QGKb">G2</a>,
        <a href="/files/file-Bq8BJJj03fJgJ5YbPvJFKQGZ">H</a></td>
      <td><a href="/comparisons/113">R1</a>,
          <a href="/comparisons/114">R2</a>,
          <a href="/comparisons/118">A1a</a>,
          <a href="/comparisons/119">A1b</a>,
          <a href="/comparisons/120">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rafael.aldana">raldana-sentieon</a></td>
      <td><a href="/files/file-BvFpJ9Q0xgF4bz8zqkJfv53Y">G1</a>,
        <a href="/files/file-BvFpJ9Q0xgF0JgV6FJ508QzJ">G2</a>,
        <a href="/files/file-BvFpJ9Q0xgF3bXZB8Q650v4J">H</a></td>
      <td><a href="/comparisons/471">R1</a>,
          <a href="/comparisons/472">R2</a>,
          <a href="/comparisons/479">A1a</a>,
          <a href="/comparisons/482">A1b</a>,
          <a href="/comparisons/477">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/deepak.grover">dgrover-gatk</a></td>
      <td><a href="/files/file-BvP364809V3vz9XV5Z6PxPPK">G1</a>,
        <a href="/files/file-BvP364809V3k6JvQBV5597vb">G2</a>,
        <a href="/files/file-BvP364809V3k8GK0QVz2QJ8z">H</a></td>
      <td><a href="/comparisons/989">R1</a>,
          <a href="/comparisons/990">R2</a>,
          <a href="/comparisons/788">A1a</a>,
          <a href="/comparisons/789">A1b</a>,
          <a href="/comparisons/787">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jeremy.edwards">jedwards-sentieon</a></td>
      <td><a href="/files/file-BvGPB1j0bpvGjJyZBQ66jXJZ">G1</a>,
        <a href="/files/file-BvGPB1j0bpvJKyJpPV516Vfb">G2</a>,
        <a href="/files/file-BvGPB1j0bpv60XvgZ5zBv8PG">H</a></td>
      <td><a href="/comparisons/550">R1</a>,
          <a href="/comparisons/551">R2</a>,
          <a href="/comparisons/552">A1a</a>,
          <a href="/comparisons/553">A1b</a>,
          <a href="/comparisons/554">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-gatk</a></td>
      <td><a href="/files/file-BvGqJb008byY68x7QvJkK8ZG">G1</a>,
        <a href="/files/file-BvGqXz008byq2zQg5k9vf781">G2</a>,
        <a href="/files/file-BvGqbp808byQXY6K9k5GfYB8">H</a></td>
      <td><a href="/comparisons/597">R1</a>,
          <a href="/comparisons/601">R2</a>,
          <a href="/comparisons/590">A1a</a>,
          <a href="/comparisons/591">A1b</a>,
          <a href="/comparisons/592">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-vqsr</a></td>
      <td><a href="/files/file-BvGpxy008byQ98qyjvgykFqz">G1</a>,
        <a href="/files/file-BvGqgV008bygk1Gq6Q69QQvb">G2</a>,
        <a href="/files/file-BvGqkQ808byZbz8zqkJfv91Z">H</a></td>
      <td><a href="/comparisons/598">R1</a>,
          <a href="/comparisons/602">R2</a>,
          <a href="/comparisons/583">A1a</a>,
          <a href="/comparisons/588">A1b</a>,
          <a href="/comparisons/589">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-isaac</a></td>
      <td><a href="/files/file-BvGq4jj08byzJYQkvkJX994B">G1</a>,
        <a href="/files/file-BvGq74008byqyfYqF4pZpQFZ">G2</a>,
        <a href="/files/file-BvGqFk008byzv5fqxxJj7yBj">H</a></td>
      <td><a href="/comparisons/596">R1</a>,
          <a href="/comparisons/600">R2</a>,
          <a href="/comparisons/585">A1a</a>,
          <a href="/comparisons/586">A1b</a>,
          <a href="/comparisons/587">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-dragen</a></td>
      <td><a href="/files/file-BvGqyZ008byQGvzYg1zBPx34">G1</a>,
        <a href="/files/file-BvGqzj808byQj68JX5z89BZ2">G2</a>,
        <a href="/files/file-BvGv2K808bygy8YQ4v6822Kq">H</a></td>
      <td><a href="/comparisons/599">R1</a>,
          <a href="/comparisons/603">R2</a>,
          <a href="/comparisons/593">A1a</a>,
          <a href="/comparisons/594">A1b</a>,
          <a href="/comparisons/595">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-genalice</a></td>
      <td><a href="/files/file-BvJ6p6008bygx9gxj0gj2qjb">G1</a>,
        <a href="/files/file-BvJ6x0Q08byxb96YY5z4K7zJ">G2</a>,
        <a href="/files/file-BvJ6yXQ08byzv0Qv9Q6J3b2X">H</a></td>
      <td><a href="/comparisons/635">R1</a>,
          <a href="/comparisons/636">R2</a>,
          <a href="/comparisons/631">A1a</a>,
          <a href="/comparisons/632">A1b</a>,
          <a href="/comparisons/634">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/mike.lin">mlin-fermikit</a></td>
      <td><a href="/files/file-BvK9b880PJ941KZJ0bkqxGf8">G1</a>,
        <a href="/files/file-BvK9kBQ08fZ67Y9Y14Zvpv6Z">G2</a>,
        <a href="/files/file-BvK91380qYkyPQZj08Zgqq8Z">H</a></td>
      <td><a href="/comparisons/698">R1</a>,
          <a href="/comparisons/699">R2</a>,
          <a href="/comparisons/700">A1a</a>,
          <a href="/comparisons/701">A1b</a>,
          <a href="/comparisons/702">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/christian.iseli">ciseli-custom</a></td>
      <td><a href="/files/file-BvP0pf007Z868yVbk5JXQ5fB">G1</a>,
        <a href="/files/file-BvP0pf007Z87x9gxj0gj3393">G2</a>,
        <a href="/files/file-BvP0pf007Z8Pv0Qv9Q6J3qBQ">H</a></td>
      <td><a href="/comparisons/754">R1</a>,
          <a href="/comparisons/753">R2</a>,
          <a href="/comparisons/748">A1a</a>,
          <a href="/comparisons/749">A1b</a>,
          <a href="/comparisons/750">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/aaron.statham">astatham-gatk</a></td>
      <td><a href="/files/file-BvFzz4j0XBX6bP8Xb53k1vyX">G1</a>,
        <a href="/files/file-BvFzyzj078B6bP8Xb53k1vy6">G2</a>,
        <a href="/files/file-BvFzyJ803qvFPQ10Z93yJyQ4">H</a></td>
      <td><a href="/comparisons/533">R1</a>,
          <a href="/comparisons/534">R2</a>,
          <a href="/comparisons/536">A1a</a>,
          <a href="/comparisons/537">A1b</a>,
          <a href="/comparisons/538">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.novak">anovak-vg</a></td>
      <td><a href="/files/file-BvP6gX00KyGVG3YK38ZQjb04">G1</a>,
        <a href="/files/file-BvP6gb80PxgyPQZj08ZjjJFv">G2</a>,
        <a href="/files/file-BvP6ggj0p3vkFz5PYV3j6jz6">H</a></td>
      <td><a href="/comparisons/835">R1</a>,
          <a href="/comparisons/836">R2</a>,
          <a href="/comparisons/832">A1a</a>,
          <a href="/comparisons/833">A1b</a>,
          <a href="/comparisons/834">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/marghoob.mohiyuddin">mmohiyuddin-mixed</a></td>
      <td><a href="/files/file-BvP5x1Q0X24Y3vjGf5z5K6FY">G1</a>,
        <a href="/files/file-BvZ1Zb00X24xQ0V341kkb211">G2</a>,
        <a href="/files/file-BvP5x1Q0X24z59zQybP7P1jp">H</a></td>
      <td><a href="/comparisons/996">R1</a>,
          <a href="/comparisons/859">R2</a>,
          <a href="/comparisons/821">A1a</a>,
          <a href="/comparisons/997">A1b</a>,
          <a href="/comparisons/822">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/charles.chapple">cchapple-mixed</a></td>
      <td><a href="/files/file-BvP8G100Kkz0XY6K9k5Gfxk0">G1</a>,
        <a href="/files/file-BvP8GV00KkzJy28Xy197yB63">G2</a>,
        <a href="/files/file-BvP8JP00Kkz0XY6K9k5Gfxk5">H</a></td>
      <td><a href="/comparisons/842">R1</a>,
          <a href="/comparisons/845">R2</a>,
          <a href="/comparisons/840">A1a</a>,
          <a href="/comparisons/841">A1b</a>,
          <a href="/comparisons/843">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.mark.2">amark-mixed</a></td>
      <td><a href="/files/file-BvPBqvQ0KbffzZ9kykJqbG5G">G1</a>,
        <a href="/files/file-BvPF59Q0KbfxKyJpPV516yjq">G2</a>,
        <a href="/files/file-BvPF2380Kbfvz9XV5Z6PxV6Q">H</a></td>
      <td><a href="/comparisons/985">R1</a>,
          <a href="/comparisons/986">R2</a>,
          <a href="/comparisons/982">A1a</a>,
          <a href="/comparisons/984">A1b</a>,
          <a href="/comparisons/983">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jason.harris">jharris-gatk</a></td>
      <td><a href="/files/file-BvP93qQ012GV1XBkv59P7Jfx">G1</a>,
        <a href="/files/file-BvP93qQ012GbGjzbkbPGV9ZQ">G2</a>,
        <a href="/files/file-BvP93qQ012GVZZK7b9z67zK7">H</a></td>
      <td><a href="/comparisons/847">R1</a>,
          <a href="/comparisons/848">R2</a>,
          <a href="/comparisons/849">A1a</a>,
          <a href="/comparisons/850">A1b</a>,
          <a href="/comparisons/851">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/ayshwarya.subramanian">asubramanian-gatk</a></td>
      <td><a href="/files/file-BvP0bk00Yf86zZ9kykJqbB1q">G1</a>,
        <a href="/files/file-BvP0bk00Yf8Gz9XV5Z6PxP2G">G2</a>,
        <a href="/files/file-BvP0vzj0Yf868yVbk5JXQ5gj">H</a></td>
      <td><a href="/comparisons/751">R1</a>,
          <a href="/comparisons/752">R2</a>,
          <a href="/comparisons/755">A1a</a>,
          <a href="/comparisons/761">A1b</a>,
          <a href="/comparisons/762">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/erik.garrison">egarrison-hhga</a></td>
      <td><a href="/files/file-BvPK1F80yG4Y7JGZg4gvvX27">G1</a>,
        <a href="/files/file-BvPK1F80yG4y346p8k9bY6KJ">G2</a>,
        <a href="/files/file-BvYkXzQ0f0fz7fyFq9KgB667">H</a></td>
      <td><a href="/comparisons/868">R1</a>,
          <a href="/comparisons/1006">R2</a>,
          <a href="/comparisons/866">A1a</a>,
          <a href="/comparisons/1007">A1b</a>,
          <a href="/comparisons/981">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/xiang.li">xli-custom</a></td>
      <td><a href="/files/file-BvGQg200Q6jF2zQg5k9vf66P">G1</a>,
        <a href="/files/file-BvGQg200Q6j941Gv159bj065">G2</a>,
        <a href="/files/file-BvGQg200Q6j5GjzbkbPGQzg4">H</a></td>
      <td><a href="/comparisons/1109">R1</a>,
          <a href="/comparisons/1110">R2</a>,
          <a href="/comparisons/558">A1a</a>,
          <a href="/comparisons/559">A1b</a>,
          <a href="/comparisons/560">A2</a></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rene.lopez">rlopez-custom</a>**</td>
      <td><a href="/files/file-Bvb8Bk007b4J44Fjx82zx3Zv">G1</a>,
        <a href="/files/file-Bvb8ZZj07b4J19BZpQ2yKPbB">G2</a>,
        <a href="/files/file-Bvb9z8007b4GB83FX02vGqfq">H</a></td>
      <td><a href="/comparisons/1033">R1</a>,
          <a href="/comparisons/1045">R2</a>,
          <a href="/comparisons/1030">A1a</a>,
          <a href="/comparisons/1032">A1b</a>,
          <a href="/comparisons/1043">A2</a></td>
    </tr>
  </table>
</div>
