<% content_for :title do %>Run <%= @app.title %><% end %>

<div>Run <%= @app.title %></div>
<hr>
<button type="button" id="btn" onclick="tst();">Test</button>

<script>
function apiCall(route, input, cb) {
  $.ajax(route, {
    "contentType": "application/json",
    "data": JSON.stringify(input),
    "dataType": "json",
    "error": function(xhr, status, err) { alert("ERROR! XHR status = " + status + ", error = " + err); },
    "jsonp": false,
    "method": "POST",
    "mimeType": "application/json",
    "processData": false,
    "success": function(data, status, xhr) { cb(data); }
  });
}
function tst() {
  var input = {
    id: "app-BjPzf380zBFQBf9qg0X7BfBx",
    name: "my first job",
    inputs: {
      "required_file": "file-Bb1FG9Q0bZ4Gvj6fYk858Py1",
      "required_number": 3,
      "trim": false,
      "required_string": "MiSeq"
    }
  };
  apiCall("/api/run_app", input, function(res) {
    console.dir(res);
  })
}

</script>
