<div class="table-responsive">
  <div class="pfda-toolbar pfda-toolbar-padded">
    <div class="pull-right">
      <%= link_to "Reset", truth_challenges_path({tab: tab}), class:"btn btn-link" %>
      <button class="btn btn-primary wg-external-submit-button" data-grid-name="truth_results"><span class="fa fa-filter" aria-hidden="true"></span> Filter</button>
    </div>
  </div>
  <%= grid(results_grid, show_filters: :always, hide_submit_button: true, hide_reset_button: true, html: {class: 'table-condensed table-nowrap'}) do |g|
    g.blank_slate partial:  "_partials/empty_grid"

    g.column name: 'Entry', attribute: 'entry', custom_filter: :auto, allow_multiple_selection: false do |result|
      if !result.answer_id.nil?
        link_to result.entry, discussion_answer_path(TRUTH_DISCUSSION_ID, result.answer_id)
      else
        result.entry
      end
    end

    g.column name: 'Type', attribute: 'type', custom_filter: :auto, allow_multiple_selection: false

    g.column name: 'Subtype', attribute: 'subtype', custom_filter: :auto, allow_multiple_selection: false

    g.column name: 'Subset', attribute: 'subset', custom_filter: :auto, allow_multiple_selection: false

    g.column name: 'Genotype', attribute: 'genotype', custom_filter: :auto, allow_multiple_selection: false

    g.column name: 'Recall', attribute: 'metric_recall', filter: false do |result|
      percentage = content_tag("div",number_with_precision(result.metric_recall * 100, precision: 4), class: "percentage")
      [percentage, {class: "text-right"}]
    end

    g.column name: 'Precision', attribute: 'metric_precision', filter: false do |result|
      percentage = content_tag("div",number_with_precision(result.metric_precision * 100, precision: 4), class: "percentage")
      [percentage, {class: "text-right"}]
    end

    g.column name: 'F-score', attribute: 'metric_f1_score', filter: false do |result|
      percentage = content_tag("div",number_with_precision(result.metric_f1_score * 100, precision: 4), class: "percentage")
      [percentage, {class: "text-right"}]
    end

    g.column name: 'Truth TP', attribute: 'truth_tp', filter: false do |result|
      [result.truth_tp, {class: "text-right"}]
    end

    g.column name: 'Truth FN', attribute: 'truth_fn', filter: false do |result|
      [result.truth_fn, {class: "text-right"}]
    end

    g.column name: 'Query TP', attribute: 'query_tp', filter: false do |result|
      [result.query_tp, {class: "text-right"}]
    end

    g.column name: 'Query FP', attribute: 'query_fp', filter: false do |result|
      [result.query_fp, {class: "text-right"}]
    end
  end -%>
</div>
