<div id="about-docs" class="bs-docs-container docs-content">
  <div class="row">
    <div class="col-sm-18">
      <div id="files" class="h1">Command Line Interface (CLI)</div>
      <div class="bs-docs-section">
        <p>The precisionFDA CLI allows you to conveniently upload or download large files or assets to your home area or to a Space where you have access. You can also integrate this into your scripts to automate your workflow and do batch uploads and downloads.</p>
      </div>
      <div id="download" class="h2">Download the CLI</div>
      <div class="bs-docs-section">
        <p>
          <a class="btn btn-primary btn-lg" href="https://pfda-production-static-files.s3.amazonaws.com/cli/pfda-linux-2.1.2.tar.gz" target="_blank">
            <span class="fa fa-download"></span> Linux
          </a>
          <a class="btn btn-primary btn-lg" href="https://pfda-production-static-files.s3.amazonaws.com/cli/pfda-darwin-2.1.2.tar.gz" target="_blank">
            <span class="fa fa-download"></span> Mac OS X
          </a>
          <a class="btn btn-primary btn-lg" href="https://pfda-production-static-files.s3.amazonaws.com/cli/pfda-windows-2.1.2.zip" target="_blank">
            <span class="fa fa-download"></span> Windows
          </a>
        </p>
      </div>
      <div id="authorization-key" class="h2">Authorization Key</div>
      <div class="bs-docs-section">
        <p>
        Visit the <a href="<%= new_asset_path %>">Create Assets</a> page and click on Generate Authorization Key button to generate a key that you will need when using the CLI.
        </p>
      </div>
      <div id="uploading-files" class="h2">Uploading Files</div>
      <div class="bs-docs-section">
        <p>
        The CLI can be used to upload files to your My Home area or to a Space where you have access. Currently you can only upload single files and not a folder, but you can embed the command in a script to do batch uploads.
        </p>
        <p>To upload a file to your precisionFDA My Home<br/><code>./pfda upload-file --key KEY --file /path/to/file</code></p>
        <p>To upload a file to a folder in your My Home area<br/><code>./pfda upload-file --key KEY --file /path/to/file --folder-id FOLDER_ID</code></p>
        <div class="alert alert-info">
          <span class="fa fa-lightbulb-o" aria-hidden="true"></span> <strong>TIP:</strong> To find FOLDER_ID, inspect the URL when browsing the contents of the target folder
        </div>
        <p>To upload a file to a Space<br/><code>./pfda upload-file --key KEY --file /path/to/file --space-id SPACE_ID</code></p>
        <p>To upload a file to a folder in a Space<br/><code>./pfda upload-file --key KEY --file /path/to/file --folder-id FOLDER_ID --space-id SPACE_ID</code></p>
        <div class="alert alert-info">
          <span class="fa fa-lightbulb-o" aria-hidden="true"></span> <strong>TIP:</strong> To find SPACE_ID, inspect the URL when browsing a Space.<br>For example, in the URL "https://precision.fda.gov/spaces/225/files", the Space ID is 225.
        </div>
      </div>
      <div id="uploading-assets" class="h2">Uploading Assets</div>
      <div class="bs-docs-section">
        <p>
        To upload an asset to precisionFDA, prepare a folder path of the asset contents and a readme file, and run the following command with the desired asset name (must end in .tar or .tar.gz)
        </p>
        <p><code>./pfda upload-asset --key KEY --name NAME{.tar or .tar.gz} --root /PATH/TO/ROOT/FOLDER --readme README{.txt or .md}></code></p>
      </div>
      <div id="downloading-files" class="h2">Downloading Files</div>
      <div class="bs-docs-section">
        <p>
        To download files from My Home or a Space, you simply need the unique id for the file which is of the form <code>file-ABCDEF1234567890-1</code>
        </p>
        <p>Download a file to the current directory using its original name<br/><code>./pfda download --key KEY --file-id FILE_ID</code></p>
        <p>Download a file to the specified file path, ignoring its original name<br/><code>./pfda download --key KEY --file-id FILE_ID --output /OUTPUT_PATH/DESIRED_FILENAME</code></p>
        <p>Download a file to the specified output directory using its original name<br/><code>./pfda download --key KEY --file-id FILE_ID --output /OUTPUT/PATH/</code></p>
        <div class="alert alert-info">
          <span class="fa fa-lightbulb-o" aria-hidden="true"></span> <strong>NOTE:</strong> The trailing slash indicates a directory
        </div>
      </div>
    </div>

    <!-- SIDEBAR NAVIGATION -->
    <div class="col-sm-6">
      <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
        <ul class="nav bs-docs-sidenav right-sidebar-nav">
          <li><a href="#download">Download the CLI</a></li>
          <li><a href="#authorization-key">Authorization Key</a></li>
          <li><a href="#uploading-files">Uploading Files</a></li>
          <li><a href="#uploading-assets">Uploading Assets</a></li>
          <li><a href="#downloading-files">Downloading Files</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
