<div id="about-docs" class="bs-docs-container docs-content">
  <div class="row">
    <div class="col-sm-24">
      <div id="introduction" class="h1">Introduction</div>
      <div class="bs-docs-section">
        <p>Welcome to precisionFDA, the community platform for NGS assay evaluation and regulatory science exploration.</p>

        <p>We are excited to have you on board, and have prepared this guide to help you make the most out of the precisionFDA platform. We hope that this guide will answer many of your questions and provide you with additional insights to further empower you to use the system. If your favorite topic is not covered, please don't hesitate to <a href="mailto:precisionfda@fda.hhs.gov">contact us</a>, and we'll make sure to expand the guide accordingly.</p>

        <p>Select a topic on the left to read more about it. We've also recorded short videos to demonstrate some aspects of the system, so make sure to check those as well.</p>

        <div class="alert alert-info">
          <span class="fa fa-lightbulb-o" aria-hidden="true"></span> <strong>TIP:</strong> The precisionFDA platform is currently in beta, and is expected to evolve and change over time. If you encounter an error page during your interaction with the site, we encourage you to <a href="mailto:precisionfda@fda.hhs.gov">report feedback</a> and tell us what you were trying to do at the time and how you got to the error page. We appreciate your help!
        </div>
      </div>
      <div class="bs-docs-section bs-docs-media-section">
        <%= video_iframe(videos[:intro][:url]) %>
      </div>
    </div>
  </div>
</div>
