<div id="about-docs" class="bs-docs-container docs-content">
  <div class="row">
    <div class="col-sm-18">
      <div id="organizations-deprecation" class="h1">Organizations Deprecation</div>
      <div class="bs-docs-section">
        <p>
          To improve the precisionFDA user experience, we have decided to deprecate the Organization (or “Org”)
          functionality of the site. Specifically, we will be making the following changes:
        </p>
        <ul>
          <li>
            A user’s organizational affiliation will no longer be publicly visible on precisionFDA,
            including the Public Profile page and in Challenge Submissions. Challenge winners will be given
            the option to have an organizational affiliation listed next to their name.
          </li>
          <li>New users will not be asked for their organizational affiliation.</li>
          <li>
            No new organizations will be created, and new users will no longer have the option of
            becoming an organization administrator when they sign up.
          </li>
          <li>
            Users that are currently members of organizations will be able to request that the
            precisionFDA administrator remove them from their organizational affiliation (i.e. transition them
            to a “self-representing” user). Org administrators will also be able to request the removal
            of users from their orgs.
          </li>
        </ul>
      </div>

      <div id="unaffected-functionality" class="h1">Unaffected Functionality</div>
      <div class="bs-docs-section">
        <p>
          The following functionality will for now remain as-is:
        </p>
        <ul>
          <li>
            Current orgs will continue to exist.
          </li>
          <li>
            Current org administrators will continue to have the ability to view the org members and
            provision new users via their Profile page.
          </li>
          <li>
            The role of org administrator can be transitioned from one user to another, upon both users
            communicating their agreement to the precisionFDA administrator.
          </li>
        </ul>
      </div>

      <div id="application" class="h1">Application</div>
      <div class="bs-docs-section">
        <p>
          These changes will be rolled out over the next several weeks.
          We hope that these changes will improve the experience for all precisionFDA users.
          Please contact <a href="mailto:precisionfda@fda.hhs.gov">precisionfda@fda.hhs.gov</a>
          with any questions or concerns.
        </p>
      </div>
    </div>

    <!-- SIDEBAR NAVIGATION -->
    <div class="col-sm-6">
      <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
        <ul class="nav bs-docs-sidenav">
          <li><a href="#organizations-deprecation">Organizations Deprecation</a></li>
          <li><a href="#unaffected-functionality">Unaffected Functionality</a></li>
          <li><a href="#application">Application</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
