<div id="about-docs" class="bs-docs-container docs-content">
  <div class="row">
    <div class="col-sm-24">
      <div id="tutorials" class="h1">Video Tutorials</div>
      <div class="bs-docs-section">
        <%- videos.each_value do |value| %>
          <div class="bs-docs-section bs-docs-media-section">
            <p><%= value[:title] %></p>
            <%= video_iframe(value[:url]) %>
          </div>
        <%- end %>
      </div>
    </div>
  </div>
</div>
