<div id="decline_task_modal" class="modal fade tasks-actions-modal modal-with-loader" data-bind="css: {loading: declineTaskModal.isLoading}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          Decline <span data-bind="text: declineTaskModal.tasksCount"></span> Task(s)
        </h4>
      </div>
      <div class="loader-container">
        <div class="loader">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
      </div>
      <div class="modal-body">
        Please provide an explanation for declining this task (optional):
        <textarea
          name="body"
          class="form-control"
          cols="30"
          rows="10"
          data-bind="value: declineTaskModal.commentText"
        ></textarea>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-default"
          data-dismiss="modal"
          data-bind="disable: declineTaskModal.actionsDisabled"
          tabindex="-1"
        >Cancel</button>
        <button
          id="decline_task_modal_submit"
          class="btn btn-warning"
          data-bind="disable: declineTaskModal.actionsDisabled"
          >
            <i class="fa fa-thumbs-down"></i>&nbsp;Decline Task(s)
          </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
