<%= render '/workflows/batch_workflows/select_folder_modal' %>

<div class="hidden" data-bind="css: { hidden: step() != 3 }">
<!-- ko if: step() == 3 -->

  <h4 class="batch-workfows-wizard-header">Page 3 of 3 : Conﬁgure Output</h4>

  <div class="batch-workfows-wizard-info">
    <div class="alert alert-info">
      <div class="row">
        <div class="col-sm-1 text-center">
          <i class="fa fa-info-circle"></i>
        </div>
        <div class="col-sm-23">
          <div>
            You may select an existing folder or create a folder for the output. If a folder is not selected or created, the output will be placed in the root folder of the workﬂow.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="step3-folders">
    <!-- ko if: enableFolderSelector() -->
    <div class="step3-folders-label form-control" data-bind="text: folderPathLabel, click: showSelectFolderModal"></div>
    <!-- /ko -->
    <!-- ko if: !enableFolderSelector() -->
    <div class="step3-folders-label disabled form-control" disabled>No "file" output in this workflow</div>
    <!-- /ko -->
  </div>

  <div class="batch-workfows-wizard-buttons row">
    <div class="pull-right">
      <button class="btn btn-default" data-bind="click: backToStep2">Back</button>
      <button class="btn btn-primary" data-bind="click: runBatchWorkflow">Run Batch Workﬂow</button>
    </div>
  </div>

<!-- /ko -->
</div>
