# List of env variables that are used in docker compose 

# ======= DOCKER BUILD =======
# Image version overrirdes

RUBY_IMAGE_TAG=
NODEJS_IMAGE_TAG=
FRONTEND_IMAGE_TAG=

MYSQL_IMAGE_TAG=

# ======= DOCKER UTILS =======
# Extracted because yarnv2 uses different caching mechanism

YARNV1_CACHE_DIR=/usr/local/share/.cache/yarn/v6

# ======= DOCKER EXPERIMENTAL SPEEDUP UTILS =======
# Private variables that shouldn't be versioned

SKIP_RUBY_DEPS_SETUP=0
SKIP_NODEJS_DEPS_SETUP=0
SKIP_FRONTEND_DEPS_SETUP=0
SKIP_DB_SETUP=0

# ======= DOCKER PLATFORM SPECIFIC FLAGS ======
ARM64V8_DEVELOPMENT_PATCH=0

# TODO(samuel) reorganize .env variables
