# List of env variables that are used in docker compose 

# Yarnv1 - Extracted because yarnv2 uses different caching mechanism - in case we migrate
YARNV1_CACHE_DIR=/usr/local/share/.cache/yarn/v6

# Speedup util - skips ruby deps installation - ASSUMES PRESENCE IN CACHE
SKIP_RUBY_DEPS_SETUP=0
# Speedup util - skips nodejs api and worker deps installation - ASSUMES PRESENCE IN CACHE
SKIP_NODEJS_DEPS_SETUP=0
# Speedup util - skips nodejs api and worker waiting for database - ASSUMES DB INITIALIZED AND RUNNING
SKIP_NODEJS_DB_WAITING=0
# Speedup util - skips frontend deps installation
SKIP_FRONTEND_DEPS_SETUP=0
# Speedup util - skips running active record migration
SKIP_DB_SETUP=0

# Entrypoint configuration - Frequency of database polling - performed by nodejs-api and nodejs-worker
NODEJS_DB_POLLING_INTERVAL=5
