<ul class="list-inline list-inline-padding-vertical">
  <% followers.each do |follower| %>
  <li>
    <%= link_to image_tag(follower.gravatar_url, class: 'img-circle', height: '50px'), user_path(follower.dxuser), class: 'pfda-follower', data: { follower_uid: follower.uid, followable_uid: followable.uid } %>
  </li>
  <% end %>
</ul>
