<div>
  <div class="btn-group">
    <a class="btn btn-success btn-lg" href="<%= request_access_path %>"><span class="fa fa-fw fa-user-plus"></span> Request Access</span></a>
    <a class="btn btn-default btn-lg" href="<%= login_path %>"><span class="fa fa-fw fa-sign-in"></span> Log in</a>
  </div>
</div>
<div>
  <div class="btn-group">
    <a class="btn btn-link btn-lg" href="/learn"><span class="fa fa-fw fa-info"></span> Learn more</a>
    <a class="btn btn-link btn-lg" href="https://docs.google.com/forms/d/1zfGoy-4C9kLbHHg0Y-6iQoI3fdGq1IfugV9fXCqOBfY/viewform" target="_blank"><span class="fa fa-fw fa-support"></span>  Feedback</a>
  </div>
</div>
