<div class="btn-group">
  <a class="btn accessible-btn-default btn-lg" href="<%= login_path %>"><span class="fa fa-fw fa-sign-in" aria-hidden="true"></span> Log in</a>
  <a class="btn accessible-btn-warning btn-lg" href="<%= request_access_path %>">Request Access</span> <span class="fa fa-fw fa-long-arrow-right" aria-hidden="true"></span></a>
</div>

