<% if leave_org_alert_shown? %>
  <div class="alert alert-success fade in">
    You have been removed from "<%= current_user.org.name %>" organization.
    Please re-login to leave the organization completely.
  </div>
<% end %>
