<div id="create-folder-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          Create new folder
        </h4>
      </div>
      <%= form_tag create_path, method: :post do %>
          <div class="modal-body">
            <div class="form-group required">
              <%= hidden_field_tag :parent_folder_id, parent_folder_id %>
              <%= hidden_field_tag :public, defined?(is_public) ? is_public : false %>
              <%= text_field_tag :name, nil, class: "form-control input-lg", placeholder: "Enter name...", required: "required" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="-1">Cancel</button>
            <button type="submit" class="btn btn-primary" data-disable-with="Creating...">Create</button>
          </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
