<div id="move-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          Move
          <span data-bind="text: moveFilesModal.selectedItemsCnt"></span>
          Item(s) to Folder...
        </h4>
      </div>
      <div class="modal-body">
        <!-- ko if: moveFilesModal.showError -->
        <p>
          <div class="alert alert-danger"
               role="alert"
               data-bind="text: moveFilesModal.errorText">
          </div>
        </p>
        <!-- /ko -->
        <p>
          <h4 class="text-info">Select Target Folder:</h4>
          <div class="form-control folders-path-text"
              data-bind="foreach: moveFilesModal.fullFoldersPath">
            <!-- ko if: $data.id != 'root' -->
            <i class="fa fa-chevron-right"></i>
            <!-- /ko -->
            <span class="tree-path-onclick"
                  data-bind="text: $data.name, click: $root.moveFilesModal.selectNode.bind($root.moveFilesModal, $data.id)">
            </span>
          </div>
        </p>
        <p class="text-center">
          <div id="move_files_tree" class="text-primary move-files-tree"></div>
        </p>
      </div>
      <div class="modal-footer">
        <%= form_tag move_path, id: :move_form, method: :post do %>
          <input type="hidden" name="scope" value="<%= scope %>">
          <input type="hidden" name="current_folder" value="<%= defined?(current_folder) ? current_folder : nil %>">
          <!-- ko foreach: moveFilesModal.selectedItems -->
            <input type="hidden" name="nodes[]" data-bind="value: $data">
          <!-- /ko -->
          <input type="hidden" name="target_id" data-bind="value: moveFilesModal.targetId">
          <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="-1">Cancel</button>
          <button type="submit" class="btn btn-primary" data-disable-with="Moving...">Move here</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
