<div id="download-files-modal" class="download-files-modal modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Download Item(s)</h4>
      </div>
      <div class="modal-body">
        <!-- ko if: downloadFilesModal.showError -->
        <div class="alert alert-danger"
              role="alert"
              data-bind="text: downloadFilesModal.errorText">
        </div>
        <!-- /ko -->
        <!-- ko if: downloadFilesModal.loading -->
        <h4 class="text-center">Loading...</h4>
        <!-- /ko -->
        <!-- ko if: !downloadFilesModal.loading() -->
        <table class="table wice-grid file-download-list">
          <tbody>
            <!-- ko foreach: downloadFilesModal.displayingItems -->
              <tr>
                <td>
                  <a target="_blank" data-bind="attr: { href: $data.viewURL }">
                    <i class="fa fa-fw fa-file-o"></i>
                    <span data-bind="text: $data.name"></span>
                  </a>
                </td>
                <td>
                  <span class="file-download-path help-block" data-bind="text: $data.fsPath"></span>
                </td>
                <td>
                  <a download data-method="post" data-bind="attr: { href: $data.downloadURL }">
                    <i class="fa fa-fw fa-download"></i> download
                  </a>
                </td>
              </tr>
            <!-- /ko -->
          </tbody>
        </table>
        <!-- /ko -->
        <!-- ko if: downloadFilesModal.showNoData -->
        <h4 class="text-center">No objects found</h4>
        <!-- /ko -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="-1">Close</button>
      </div>
    </div>
  </div>
</div>
