<!--
<div class="pfda-toolbar">
  <ul class="nav nav-pills nav-pills-center nav-pills-sm">
    <li class="<%= controller.controller_name == 'spaces' ? 'active' : '' %>">
      <%= link_to spaces_path do %>
      <span class="pill-label">
        Spaces
      </span>
      <% end %>
    </li>
    <li class="<%= controller.controller_name == 'space_templates' ? 'active' : '' %>">
      <%= link_to space_templates_path do %>
      <span class="pill-label">
        Templates
      </span>
      <% end %>
    </li>
  </ul>
  </div>
-->
