<div class="page-header clearfix">
  <h1 class="pull-left"><span class="fa fa-file fa-fw"></span> Upload File</h1>
  <div class="pull-right">
    <a class="btn btn-default btn-lg">
      <span class="fa fa-cloud-upload fa-fw"></span> UPLOAD
    </a>
  </div>
</div>

<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-body">
      [Metadata]
    </div>
  </div>
</div>
