<% content_for :title do %>Upload File(s)<% end %>

<div class="page-header clearfix">
  <h1 class="pull-left"><span class="fa fa-file fa-fw"></span> Upload File(s)</h1>
</div>

<div class="container-fluid">
  <div class="section-files panel panel-default">
    <div class="panel-body">
      <form class="form form-upload-files">
        <div class="section-metadata form-group">
          <label class="control-label text-muted">Set Biospecimen (optional)</label>
          <div class="control-group">
            <select class="field-biospecimen form-control">
                <option></option>
              <% @biospecimens.each do |biospecimen| %>
                <option value="<%= biospecimen.id %>"><%= biospecimen.name %><%= biospecimen.description ? " - #{biospecimen.description}" : "" %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Files</label>
          <div class="control-group">
            <span class="btn btn-primary btn-browse-files">
                Browse files for upload... <input class="event-browse-files" type='file' multiple required>
            </span>

            <button class="btn btn-primary event-upload-files hide">
              <span class="fa fa-cloud-upload fa-fw"></span> Upload
            </button>
            <button class="btn btn-default event-clear-files hide">Clear files</button>
          </div>
          <div class="upload-state hide"></div>
        </div>
      </form>
    </div>

    <ul class="list-group list-files hide"></ul>
  </div>

</div>
