default: &default
  adapter: mysql2
  pool: 5
  timeout: 5000
  host: db
  username: root
  password: password

development:
  <<: *default
  database: precision_fda

test:
  <<: *default
  database: precisionfda_test

ui_test:
  <<: *default
  database: precisionfda_ui_test
