default: &default
  adapter: mysql2
  pool: 5
  timeout: 5000
  host: db
  username: root
  password: pswd
  variables:
    sql_mode: TRADITIONAL

development:
  <<: *default
  database: dev

test:
  <<: *default
  database: test

ui_test:
  <<: *default
  database: ui-test

production:
  <<: *default
  database: prod
