pfda_test {
  username: ""
  password: ""
  dnx_stage_username: ""
  dnx_stage_password: ""
  userFullName: ""
  userOrg: ""
}

pfda_othertest {
    username: ""
    password: ""
    dnx_stage_username: ""
    dnx_stage_password: ""
    userFullName: ""
    userOrg: ""
}

pfda_admin {
    username: ""
    password: ""
    dnx_stage_username: ""
    dnx_stage_password: ""
    userFullName: ""
    userOrg: ""
}