@import "../../../../styles/variables.sass"

.navigation-bar-public
  font-family: Lato, Helvetica, sans-serif
  width: 100%
  background-color: rgb(22,19,14)
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  color: white
  padding-top: 6px

  .pfda-navbar-wrapper
    height: $pfda-navigation-bar-height
    max-width: $pfda-main-container-max-width
    margin: 0 auto

  nav
    display: flex
    height: $pfda-navigation-bar-height
    text-align: center
    vertical-align: middle
    transition: all .18s ease-in-out

    nav > *
        vertical-align: middle

    .logo-img
      display: inline-block
      text-align: left
      margin: auto
      margin-left: $pfda-main-content-horizontal-padding

    .logo-img-dark
      display: none

    .center-buttons
      display: inline-block
      text-align: center
      margin: auto

      a
        text-align: center
        font-size: 13px
        font-weight: 400
        margin: 0.5em 1.25em
        padding: 0.15em 0em
        color: #fff
        text-decoration: none

        &:hover
          border-bottom: 2px solid #fff

      a.current
        color: $pfda-highlight-blue
        border-bottom: 2px solid $pfda-highlight-blue

    .right-buttons
      display: inline-block
      text-align: right
      margin: auto
      margin-right: $pfda-main-content-horizontal-padding

      button
        vertical-align: middle
        margin-left: $pfda-button-spacing

      @media (max-width: 1024px)
        .btn
          margin-left: 6px

    @media (max-width: 640px)
      flex-flow: column wrap
      overflow: scroll

  .sticky
    position: fixed
    top: 0
    width: 100%
    background-color: #f4f8fd
    border-bottom: 1px solid #ddd
    z-index: 20

    .logo-img-light
      display: none

    .logo-img-dark
      display: inline-block

    .logo-img-none
      display: none

    .center-buttons
      a
        color: black !important

        &:hover
          border-bottom: 2px solid black !important

      a.current
        color: $pfda-highlight-blue !important

        &:hover
          border-bottom: 2px solid $pfda-highlight-blue !important


  &-banner
    display: flex;
    flex-flow: row nowrap
    justify-content: space-between
    padding: 0px $pfda-main-content-horizontal-padding
    max-width: $pfda-main-container-max-width
    margin: 0 auto

    @media (max-width: 640px)
      flex-flow: column wrap

  &-logo-and-title
    order: 1
    text-align: left
    width: $pfda-thumbnail-width
    margin: 0 $pfda-main-content-horizontal-padding $pfda-main-content-vertical-padding 0

    img
      margin-left: 3px
      margin-bottom: 12px

    h1
      color: #fff
      font-size: 32px
      font-weight: 400
      margin: 0

    @media (min-width: 1024px)
      flex-shrink: 0

    @media (max-width: 640px)
      margin: 0

  &-subtitle
    order: 2
    flex-shrink: 1
    flex-grow: 1
    align-self: flex-end
    text-align: center
    max-width: 640px
    margin-bottom: $pfda-main-content-vertical-padding

    h2
      font-size: 20px
      font-weight: 400
      line-height: 133%
      text-align: left
      padding-bottom: 0px
      margin-bottom: 0px

    @media (max-width: 640px)
      margin: 0

  &-social-media-buttons
    order: 3
    align-self: flex-end
    text-align: right
    width: auto
    margin-bottom: $pfda-main-content-vertical-padding

    a
      color: #fff
      font-size: 18px
      padding: 3px 6px

    @media (min-width: 640px)
      min-width: 128px

    @media (min-width: 1024px)
      width: $pfda-right-column-width

.pfda-navbar-logo
  width: 180px
  height: 40px
