<div class="modal right fade" id="disable-screen-modal">
  <div class="modal-dialog">
    <div class="modal-content text-info">
      <div class="workflows">
        <h1 class="modal-title" id="mapper-modal-label">
          <i class="fa fa-spinner fa-spin"></i>
          <span>Submitting...</span>
        </h1>
      </div>
    </div>
  </div>
</div>
