<table id="invitations_data_grid" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>Country</th>
      <th>City</th>
      <th>US State</th>
      <th>Postal Code</th>
      <th>Phone</th>
      <th>DUNS</th>
    </tr>
  </thead>
</table>
