<table class="table table-striped">
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>Country</th>
    <th>City</th>
    <th>US State</th>
    <th>Postal Code</th>
    <th>Phone</th>
    <th>DUNS</th>
    <th></th>
  </thead>
  <tbody>
  <!-- ko foreach: invitations -->
    <tr>
      <td>
        <input type="text" class="form-control" data-bind="textInput: $data.firstName" />
      </td>
      <td>
        <input type="text" class="form-control" data-bind="textInput: $data.lastName" />
      </td>
      <td>
        <input type="text" class="form-control" data-bind="textInput: $data.email" />
      </td>
      <td>
        <input type="text" class="form-control" data-bind="textInput: $data.address1" disabled />
      </td>
      <td>
        <input type="text" class="form-control" data-bind="textInput: $data.address2" disabled />
      </td>
      <td>
        <select class="form-control" disabled data-bind="
          options: $root.countries,
          optionsText: 'name',
          optionsValue: 'id',
          value: $data.countryId,">
        </select>
      </td>
      <td>
        <input type="text" class="form-control" data-bind="textInput: $data.city" disabled />
      </td>
      <td>
        <input type="text" class="form-control" data-bind="textInput: $data.usState" disabled />
      </td>
      <td>
        <input type="text" class="form-control" data-bind="textInput: $data.postalCode" disabled />
      </td>
      <td>
        <input type="text" class="form-control" data-bind="textInput: $data.phone" disabled />
      </td>
      <td>
        <input type="text" class="form-control" data-bind="textInput: $data.duns" />
      </td>
      <td data-bind="click: $root.removeInvitation">
        <button class="btn btn-danger">
          <i class="fa fa-times"></i>
        </button>
      </td>
    </tr>
    <tr class="invitations-original-values">
      <td data-bind="text: $data.original.first_name"></td>
      <td data-bind="text: $data.original.last_name"></td>
      <td data-bind="text: $data.original.email"></td>
      <td data-bind="text: $data.original.address1"></td>
      <td data-bind="text: $data.original.address2"></td>
      <td data-bind="text: $data.original.country_name"></td>
      <td data-bind="text: $data.original.city"></td>
      <td data-bind="text: $data.original.us_state"></td>
      <td data-bind="text: $data.original.postal_code"></td>
      <td data-bind="text: $data.original.phone"></td>
      <td data-bind="text: $data.original.duns"></td>
      <td></td>
    </tr>
    <!-- ko if: $data.errors().length -->
      <!-- ko foreach: $data.errors -->
      <tr class='bg-danger text-danger'>
        <td colspan="12" data-bind="text: $data"></td>
      </tr>
      <!-- /ko -->
    <!-- /ko -->
  <!-- /ko -->
  </tbody>
</table>
