$brand-blue-primary: #1F70B5;
$brand-blue-secondary: #66BAE0;
$brand-blue-tertiary: #8198BC;
$brand-blue-subtle: #E3F3FC;
$brand-blue-subtler: #F4F8FD;
$brand-blue-dark: #343E4D;

$brand-green-primary: #6BDBA5;

$brand-red-primary: #EB776F;
$brand-red-secondary: #821A1D;

$brand-highlight: #FFF6E4;

$brand-sidebar-bg: #5F718C;

$brand-running-bg: #F0F9FD;
$brand-running-color: #2071B5;
$brand-failed-bg: #FFEEED;
$brand-failed-color: #821A1D;
$brand-done-bg: #fff;
$brand-done-color: $brand-green-primary;

$brand-font-family:  "Quicksand", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$nav-height: 83px;
