<% content_for :title do %>Editing the Participant<% end %>

<%= render partial: "admin/_partials/workbench_toolbar" %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-inbox"></span>
    Editing the Participant
  </div>
</div>

<%= render 'form' %>
