
<%= grid(@orgs_grid, show_filters: :always) do |g|
  g.row_attributes do |r|
    {id: 'org-' + r.handle}
  end

  g.column name: "Name", attribute: "name", filter: :string do |org|
    link_to org.name, admin_show_org_path(handle: org.handle)
  end

  g.column name: "Handle", attribute: "handle", filter: :string do |org|
    org.handle
  end

  g.column name: "Address", attribute: "address", filter: :string do |org|
    org.address
  end

  g.column name: "Phone", attribute: "phone", filter: :string do |org|
    org.phone
  end

  g.column name: "Admin", attribute: "email", assoc: :admin, filter: :string do |org|
    org.admin.email rescue "No one"
  end

  g.column name: "" do |org|
    raw """<button class='btn btn-primary pull-right' data-orgid='#{org.handle}' data-bind='click: showChangeAdminModal'>Change Admin</button>"""
  end
end %>
