<% content_for :title do %>Assets<% end %>

<%= grid(@assets_grid, show_filters: :when_filtered) do |g|
  g.blank_slate partial:  "_partials/empty_grid"

  g.column name: 'Name', attribute: 'name' do |file|
    display = ""
    if file.public?
      display = "<span class='fa fa-globe fa-fw'></span> "
    else
      display = "<span class='fa fa-fw'></span> "
    end
    display += link_to(file.prefix, asset_path(file.dxid))
    raw display
  end

  g.column name: 'Added by', attribute: 'dxuser', assoc: :user do |file|
    link_to(file.user.dxuser, user_path(file.user.dxuser))
  end

  g.column name: 'Size', attribute: 'file_size' do |file|
    number_to_human_size(file.file_size)
  end

  g.column name: 'Created', attribute: 'created_at', auto_reload: true, filter_type: :standard do |file|
    file.created_at.to_s(:db)
  end

  g.column name: 'State', attribute: 'state', custom_filter: :auto

  g.column name: 'Access', attribute: 'scope',
    custom_filter: {'Public' => "public", 'Private' => "private"} do |file|
    file.public? ? "Public" : "Private"
  end
end -%>
