@import "../../../styles/variables.sass"


.pfda-table-components
  width: 100%

  thead
    border: 2px solid #d8d8d8
    border-right: none
    border-left: none

  td
    padding: 10px

  &__th
    text-transform: uppercase
    padding: 10px
    color: $color-not-active-el
    font-size: 16px

    &--sortable
      color: $color-info
      cursor: pointer

    &--sorted
      color: $color-primary

      .fa
        margin-right: 5px


.pfda-pagination
  text-align: right
  margin-top: 10px
  display: flex

  &__page
    color: #1F70B5
    border: 1px solid #1F70B5
    border-right: none
    height: 35px
    width: 35px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    margin: 0

    &:last-child
      border-right: 1px solid #1F70B5

    &--active
      color: #FFFFFF
      background: #1F70B5

.pfda-table-counters
  display: flex
  justify-content: flex-end
  align-items: center
  height: 35px
  border-bottom: 1px solid #DDDDDD
  border-top: 1px solid #DDDDDD
  color: #58729d
  font-size: 12px
  padding-right: 10px

.spaces-list-headers-grey
  color: #76726f
.spaces-list-headers-blue
  color: #2373b8
