<% content_for :title do %>Site Activity Report<% end %>

<div class="page-header">
  <div class="media">
    <div class="media-body">
      <div class="page-title">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        Site Activity Report
    </div>
    </div>
  </div>
</div>

<div class="pfda-toolbar">
  <div class="row">

    <div class="col-md-20">      
        <div class="btn-group pull-left" role="group" aria-label="Select date range" id="select_date_range">
          <button class="btn btn-default" data-type="day">Day</button>
          <button class="btn btn-default active" data-type="week">Week</button>
          <button class="btn btn-default" data-type="month">Month</button>
          <button class="btn btn-default" data-type="year">Year</button>
        </div>
        <div class="pull-left">
          <input class="form-control add-datetimepicker" type="text" name="date_at" />
          <input class="form-control add-datetimepicker" type="text" name="date_to" />
          <button class="btn btn-primary" data-bind="click: loadData">Submit</button>
        </div>
    </div>

    <div class="col-md-4 hidden">
      <div class="pull-right">
        <div class="dropdown">
          <button class="btn btn-primary" id="show_dropdown_menu" data-toggle="dropdown">
            <i class="fa fa-download" aria-hidden="true"></i>
            Export Report
          </button>

          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="show_dropdown_menu">
            <li>
              <a href="#">Download as PDF</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">Download as HTML</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">Print...</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div> 
</div>

<%= render "users_report" %>
<%= render "data_report" %>
<%= render "apps_report" %>
<%= render "challenges_report" %>
