<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal" onsubmit="event.preventDefault(); return false;">
      <div class="form-group">
        <label class="col-sm-4 control-label">Internet Access?</label>
        <div class="col-sm-10 col-sm-offset-1 checkbox">
          <label>
            <input type="checkbox" data-bind="checked: internetAccess"/> Enable access
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Default Instance</label>
        <div class="col-sm-10 col-sm-offset-1">
          <select name="instance_type" class="form-control" data-bind="options: availableInstances,
                 optionsText: 'label',
                 optionsValue: 'value',
                 value: instanceType"></select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Assets</label>
        <div class="col-sm-10 col-sm-offset-1">
          <button class="btn btn-default" data-toggle="modal" data-target="#assets-modal" data-bind="click: onOpenAssetsModal"><span class="fa fa-files-o"></span> Select assets...</button>
          <!-- ko if: assets().length -->
          <br>
          <br>
          <ul class="list-group" data-bind="foreach: assets">
           <li class="list-group-item clearfix">
             <span data-bind="text: name"></span> <button class="pull-right btn-link fa fa-times" data-bind="click: $root.removeAsset"></button>
           </li>
         </ul>
         <!-- /ko -->

        </div>
      </div>
    </form>
    <form class="form-horizontal" data-bind="submit: addPackage">
      <div class="form-group">
        <label class="col-sm-4 control-label">
          Ubuntu Packages
          <p class="help-block text-right"><small><a href="http://packages.ubuntu.com" target="_blank">Ubuntu Package Search <span class="fa fa-external-link"></span></a></small></p>
        </label>
        <div class="col-sm-10 col-sm-offset-1">
          <div class="input-group">
            <input type="text" class="form-control" data-bind='value: packageToAdd, valueUpdate: "afterkeydown"' placeholder="Package name" />
            <div class="input-group-btn">
              <button class="btn btn-primary" type="submit" data-bind="enable: packageToAdd().length > 0, css: {disabled: packageToAdd().length == 0}">
                <span class="fa fa-plus"></span>
              </button>
            </div>
          </div>
          <br>
          <ul class="list-group" data-bind="foreach: packages">
            <li class="list-group-item clearfix">
              <span data-bind="text: $data"></span> <button class="pull-right btn-link fa fa-times" data-bind="click: $root.removePackage"></button>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal assets-modal fade" id="assets-modal" data-bind="with: assetsSelector">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select Assets for your VM Environment</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group" data-bind="foreach: assets.filtered">
          <li class="list-group-item">
            <div class="checkbox clearfix">
              <label>
                <input type="checkbox" data-bind="checkedValue: $data, checked: $parent.assets.selected"> <span data-bind="text: name"></span>
              </label>
              <a class="pull-right fa fa-fw fa-info-circle" href="/assets/" data-bind="attr: {href: '/assets/' + dxid}" target="_blank"></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: saveAssets">Update</button>
      </div>
    </div>
  </div>
</div>
