<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal" onsubmit="event.preventDefault(); return false;">
      <div class="form-group">
        <label class="col-sm-4 control-label">Internet Access?</label>
        <div class="col-sm-10 col-sm-offset-1 checkbox">
          <label>
            <input type="checkbox" data-bind="checked: internetAccess"/> Enable access
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Default Instance</label>
        <div class="col-sm-10 col-sm-offset-1">
          <select name="instance_type" class="form-control" data-bind="options: availableInstances,
                 optionsText: 'label',
                 optionsValue: 'value',
                 value: instanceType"></select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Assets</label>
        <div class="col-sm-10 col-sm-offset-1">
          <button class="btn btn-default" data-toggle="modal" data-target="#assets-modal" data-bind="click: onOpenAssetsModal"><span class="fa fa-files-o"></span> Select assets...</button>
          <!-- ko if: assets().length -->
          <br>
          <br>
          <ul class="list-group" data-bind="foreach: assets">
           <li class="list-group-item clearfix">
             <a data-bind="attr: {href: '/assets/' + dxid}" target="_blank"><span class="fa fa-file-zip-o"></span> <span data-bind="text: name"></span></a>  <button class="pull-right btn-link btn-link-danger fa fa-times" data-bind="click: $root.removeAsset"></button>
           </li>
         </ul>
         <!-- /ko -->

        </div>
      </div>
    </form>
    <form class="form-horizontal" data-bind="submit: addPackage">
      <div class="form-group">
        <label class="col-sm-4 control-label">
          Ubuntu Packages
        </label>
        <div class="col-sm-10 col-sm-offset-1">
          <div class="input-group">
            <input type="text" class="form-control" data-bind='value: packageToAdd, valueUpdate: "afterkeydown"' placeholder="Package name" />
            <div class="input-group-btn">
              <button class="btn btn-primary" type="submit" data-bind="enable: packageToAdd().length > 0, css: {disabled: packageToAdd().length == 0}">
                <span class="fa fa-plus"></span>
              </button>
            </div>
          </div>
          <p class="help-block text-right"><small><strong>TIP:</strong> Find packages within the <strong>trusty</strong> distribution using <a href="http://packages.ubuntu.com" target="_blank">Ubuntu Package Search <span class="fa fa-external-link"></span></a></small></p>
          <ul class="list-group" data-bind="foreach: packages">
            <li class="list-group-item clearfix">
              <a data-bind="attr: {href: 'http://packages.ubuntu.com/' + $data}, text: $data" target="_blank"></a> <button class="pull-right btn-link btn-link-danger fa fa-times" data-bind="click: $root.removePackage"></button>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal assets-modal fade" id="assets-modal" data-bind="with: assetsSelector">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select Assets for your VM Environment</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <ul class="list-group col-md-8" data-bind="foreach: assets.filtered">
            <li class="list-group-item" data-bind="css: {active: $parent.previewedAsset() && $parent.previewedAsset().dxid == dxid}">
              <div class="checkbox clearfix">
                <label>
                  <input type="checkbox" data-bind="checkedValue: $data, checked: $parent.assets.selected"> <span data-bind="text: name"></span>
                </label>
                <a class="pull-right" data-bind="click: $parent.previewAsset">Detail <span class="fa fa-fw fa-chevron-right"></span></a>
              </div>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content col-md-16">
            <div role="tabpanel" class="tab-pane active">
              <!-- ko if: previewedAsset() -->
                <!-- ko if: previewedAsset().describe() -->
                  <div class="lead">
                    <a href="/assets/" data-bind="text: previewedAsset().name, attr: {href: '/assets/' + previewedAsset().dxid}" target="_blank"></a>
                  </div>
                  <p class="lead" data-bind="text: previewedAsset().describe().description"></p>
                  <div class="h4">Archive Contents</div>
                  <ul data-bind="foreach: previewedAsset().describe().archive_entries">
                    <li data-bind="text: $data"></li>
                  </ul>
                <!-- /ko -->
              <!-- /ko -->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: saveAssets">Update</button>
      </div>
    </div>
  </div>
</div>
