<% content_for :title do %><%= @app.title %><% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-cube"></span>
    Editing <a href="<%= app_path(@app.dxid) %>" data-bind="text: title"><%= @app.title %></a>
  </div>
</div>

<%= render "_partials/app_editor", app: @app %>
