<% content_for :title do %><%= @app.title %><% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-cube"></span>
    Editing <a href="<%= app_path(@app.dxid) %>" data-bind="text: title"><%= @app.title %></a>
  </div>
</div>

<div class="pfda-toolbar">
  <div class="pull-left">
    <span class="btn-static text-muted">Latest revision: <strong>#<span data-bind="text: revision"></span></strong></span>
  </div>
  <div class="pull-right">
    <span class="btn-static text-muted" data-bind="visible: isSaveReady()" style="display: none">Unsaved changes</span>
    <div class="btn-group">
      <button class="btn btn-primary" data-bind="click: save, disable: !isSaveReady(), css: {'disabled': !isSaveReady()}">
        <span class="fa fa-save"></span> Save
      </button>
    </div>
  </div>
</div>

<div class="app-editor">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#app-metadata" aria-controls="app-metadata" role="tab" data-toggle="tab">Metadata</a></li>
    <li role="presentation"><a href="#app-content" aria-controls="app-content" role="tab" data-toggle="tab">Source Code and Assets</a></li>
    <li role="presentation"><a href="#app-readme" aria-controls="app-readme" role="tab" data-toggle="tab">README</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="app-metadata">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="form-group" data-bind="visible: dxid">
              <label class="col-sm-4 control-label">App ID</label>
              <div class="col-sm-10 col-sm-offset-1">
                <p class="form-control-static" data-bind="text: dxid"></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">App Name</label>
              <div class="col-sm-10 col-sm-offset-1">
                <p class="form-control-static" data-bind="text: name"></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">App Title</label>
              <div class="col-sm-10 col-sm-offset-1">
                <input type="text" class="form-control" placeholder="Enter a title" data-bind="textInput: title" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Internet Access?</label>
              <div class="col-sm-10 col-sm-offset-1 checkbox">
                <label>
                  <input type="checkbox" data-bind="checked: internetAccess"/>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Default Instance</label>
              <div class="col-sm-10 col-sm-offset-1">
                <select name="instance_type" class="form-control" data-bind="options: availableInstances,
                       optionsText: 'label',
                       optionsValue: 'value',
                       value: instanceType"></select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Access Scope</label>
              <div class="col-sm-10 col-sm-offset-1">
                <p class="form-control-static"><span class="fa fa-lock"></span> Revisions are <strong>private</strong> until released</p>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="section-io">
        <div class="section-io-input">
          <div class="list-group">
            <div class="list-group-item clearfix">
              <div class="list-group-item-heading pull-left">Inputs</div>
              <div class="btn-group pull-left">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa fa-plus"></span> Add Input Field <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" data-bind="foreach: availableInputClasses">
                  <li><a data-bind="text: label, click: $root.addInputField"></a></li>
                </ul>
              </div>
            </div>
            <!-- ko if: inputs().length > 0 -->
              <div class="list-group-item">
                <table class="table table-io">
                  <thead>
                    <th>Class</th>
                    <th>Label</th>
                    <th>Optional?</th>
                    <th>Default Value</th>
                    <th>Help text</th>
                    <th></th>
                  </thead>
                  <tbody>
                  <!-- ko foreach: inputs -->
                    <tr class="app-io-field" data-bind="template: { name: 'io-field-'+klass()}"></tr>
                  <!-- /ko -->
                  </tbody>
                </table>
              </div>
            <!-- /ko -->
            <!-- ko if: inputs().length == 0 -->
              <div class="list-group-item">
                <span class="text-muted">No inputs defined</span>
              </div>
            <!-- /ko -->
          </div>
        </div>
        <div class="section-io-input">
          <div class="list-group">
            <div class="list-group-item clearfix">
              <div class="list-group-item-heading pull-left">Outputs</div>
              <div class="btn-group pull-left">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa fa-plus"></span> Add Output Field <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" data-bind="foreach: availableOutputClasses">
                  <li><a data-bind="text: label, click: $root.addOutputField"></a></li>
                </ul>
              </div>
            </div>
            <!-- ko if: outputs().length > 0 -->
              <div class="list-group-item">
                <table class="table table-io">
                  <thead>
                    <tr>
                      <th>Class</th>
                      <th>Label</th>
                      <th>Optional?</th>
                      <th>Default Value</th>
                      <th>Help text</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  <!-- ko foreach: outputs -->
                    <tr class="app-io-field" data-bind="template: { name: 'io-field-'+klass()}"></tr>
                  <!-- /ko -->
                  </tbody>
                </table>
              </div>
            <!-- /ko -->
            <!-- ko if: outputs().length == 0 -->
              <div class="list-group-item">
                <span class="text-muted">No outputs defined</span>
              </div>
            <!-- /ko -->
          </div>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="app-content">
      <div class="ace-editor-section">
        <div id="script-editor" data-bind="ace: code, aceOptions: { mode: 'sh', theme: 'monokai', opts: {maxLines: Infinity} }"></div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="app-readme">
      <div class="ace-editor-section">
        <div id="readme-editor" data-bind="ace: readme, aceOptions: { mode: 'markdown', theme: 'textmate', opts: {maxLines: Infinity} }"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="io-field-file">
  <td class="io-field-class">file</td>
  <td class="io-field-label"><input type="text" class="form-control" data-bind="textInput: label"/></td>
  <td class="io-field-optional"><div class="io-checkbox"><input type="checkbox" data-bind="checked: isOptional"/></div></td>
  <td class="io-field-default"><input type="text" class="form-control" data-bind="textInput: defaultValue" placeholder="file-XXXX"/></td>
  <td class="io-field-help"><input type="text" class="form-control" data-bind="textInput: help"/></td>
  <td class="io-field-remove"><button class="btn btn-link" data-bind="click: remove"><span class="fa fa-times"></fa></button></td>
</script>

<script type="text/html" id="io-field-string">
  <td class="io-field-class">string</td>
  <td class="io-field-label"><input type="text" class="form-control" data-bind="textInput: label"/></td>
  <td class="io-field-optional"><div class="io-checkbox"><input type="checkbox" data-bind="checked: isOptional"/></div></td>
  <td class="io-field-default"><input type="text" class="form-control" data-bind="textInput: defaultValue"/></td>
  <td class="io-field-help"><input type="text" class="form-control" data-bind="textInput: help"/></td>
  <td class="io-field-remove"><button class="btn btn-link" data-bind="click: remove"><span class="fa fa-times"></fa></button></td>
</script>

<script type="text/html" id="io-field-int">
  <td class="io-field-class">int</td>
  <td class="io-field-label"><input type="text" class="form-control" data-bind="textInput: label"/></td>
  <td class="io-field-optional"><div class="io-checkbox"><input type="checkbox" data-bind="checked: isOptional"/></div></td>
  <td class="io-field-default"><input type="text" class="form-control" data-bind="textInput: defaultValue"/></td>
  <td class="io-field-help"><input type="text" class="form-control" data-bind="textInput: help"/></td>
  <td class="io-field-remove"><button class="btn btn-link" data-bind="click: remove"><span class="fa fa-times"></fa></button></td>
</script>

<script type="text/html" id="io-field-float">
  <td class="io-field-class">float</td>
  <td class="io-field-label"><input type="text" class="form-control" data-bind="textInput: label"/></td>
  <td class="io-field-optional"><div class="io-checkbox"><input type="checkbox" data-bind="checked: isOptional"/></div></td>
  <td class="io-field-default"><input type="text" class="form-control" data-bind="textInput: defaultValue"/></td>
  <td class="io-field-help"><input type="text" class="form-control" data-bind="textInput: help"/></td>
  <td class="io-field-remove"><button class="btn btn-link" data-bind="click: remove"><span class="fa fa-times"></fa></button></td>
</script>

<script type="text/html" id="io-field-boolean">
  <td class="io-field-class">boolean</td>
  <td class="io-field-label"><input type="text" class="form-control" data-bind="textInput: label"/></td>
  <td class="io-field-optional"><div class="io-checkbox"><input type="checkbox" data-bind="checked: isOptional"/></div></td>
  <td class="io-field-default"><input type="text" class="form-control" data-bind="textInput: defaultValue"/></td>
  <td class="io-field-help"><input type="text" class="form-control" data-bind="textInput: help"/></td>
  <td class="io-field-remove"><button class="btn btn-link" data-bind="click: remove"><span class="fa fa-times"></fa></button></td>
</script>
