<% content_for :title do %>Apps<% end %>

<div class="pfda-2-pane-wrapper container-fluid">
  <div class="row">
    <div class="pfda-2-pane-sidebar col-sm-6">
      <%= render "_partials/toolbar", toolbar: @apps_toolbar %>
      <div class="list-group">
        <a href="#" class="list-group-item active">
          All Apps
        </a>
        <a href="#" class="list-group-item disabled">
          Community Apps
        </a>
        <a href="#" class="list-group-item">BWA</a>
        <a href="#" class="list-group-item">GATK</a>
        <a href="#" class="list-group-item">FASTQ Injector</a>
        <a href="#" class="list-group-item disabled">
          Your Apps
        </a>
        <a href="#" class="list-group-item">My Custom App</a>
      </div>
    </div>
    <div class="pfda-2-pane-content col-sm-18">
      <div class="panel">
        <%= render "_partials/toolbar", toolbar: @jobs_toolbar %>
        <%= render "_partials/grid", grid: @grid %>
      </div>
    </div>
  </div>
</div>
