<% content_for :title do %>Create New App<% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-cube"></span>
    Create New App
  </div>
</div>

<%= render "apps/app_editor", app: @app %>
