<div class="page-header clearfix">
  <div class="page-title pull-left"><span class="fa fa-cube fa-fw"></span> New App</div>
  <div class="pull-right">
    <a class="btn btn-default btn-lg">
      <span class="fa fa-plus-square fa-fw"></span> ADD
    </a>
  </div>
</div>

<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-body">
      [Metadata]
    </div>
  </div>
</div>
