<% content_for :title do %>Create New App<% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-cube"></span>
    Create App <small data-bind="text: title"></small>
  </div>
</div>

<div class="pfda-toolbar">
  <div class="form-group text-centered">
    <div class="control-group">
      <span class="btn btn-primary btn-lg btn-browse-files">
        <span class="fa fa-files-o"></span> Import from *.cwl file<input class="event-browse-files" type="file" accept=".cwl">
      </span>
    </div>
  </div>
</div>

<%= render "apps/editor", app: @app %>
