<div class="jumbotron jumbotron-news-landing">
  <div class="container container-padded container-fluid">
    <div class="pfda-cards pfda-cards-align-centered pfda-cards-stretch">
      <div class="pfda-card pfda-challenge-card pfda-card-default pfda-card-rounded pfda-card-bordered pfda-card-padded pfda-card-shadow">
        <div class="media">
          <h3 class="text-center">CDRH BIOTHREAT CHALLENGE</h3>
          <div class="pfda-challenge-diagram">
            <img class="img-responsive center-block" src="/assets/challenges/pFDA-biothreat-Diagram.png" alt="PrecisionFDA Biothreat Challenge">
          </div>
          <br>
          <div class="media-body pfda-padded">
            <div class="pfda-card-body text-justify">
              <div>
                Many infectious diseases have similar signs and symptoms, making it challenging for healthcare providers to identify the disease-causing agent. Infectious disease next-generation sequencing (ID-NGS) technology may enable the diagnosis of infections without prior knowledge of disease(s) cause. To encourage the development and improvement of ID-NGS analytical methods, precisionFDA – the community platform for NGS assay evaluation and regulatory science exploration – is launching #FDABiothreatChallenge #NGS. Professional and citizen scientists are invited to test their bioinformatics skills and software tools in a challenge to identify pathogens from the FDA-ARGOS database (www.fda.gov/argos) within host samples using NGS short-read data. This challenge will enable the community to look at algorithm performance using a fixed reference genome standard.
              </div>
              <br>
              <div>
                The FDA Biothreat Challenge launches August 3rd
              </div>
              <br>
              <p><%= link_to 'Click here to sign up for more information' , 'https://form.jotform.com/81904745221959', class: 'btn btn-primary', target: :_blank %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


