<div class="jumbotron jumbotron-news-landing">
  <div class="container container-padded container-fluid">
    <div class="pfda-cards pfda-cards-align-centered pfda-cards-stretch">
      <div class="pfda-card pfda-challenge-card pfda-card-default pfda-card-rounded pfda-card-bordered pfda-card-padded pfda-card-shadow">
        <div class="media">
          <h3 class="text-center">PrecisionFDA CFSAN Pathogen Detection Challenge</h3>
          <div class="pfda-challenge-diagram">
            <img src="/assets/challenges/pFDA-C6-Diagram.png" alt="PrecisionFDA CFSAN Pathogen Detection Challenge">
          </div>
          <div class="media-body pfda-padded">
            <div class="pfda-card-body text-justify">
              <div>
                Prepare to join the Challenge that utilizes metagenomics to help improve pathogen detection and traceback, ultimately impacting the future of food safety!
              </div>
              <br>
              <div>
                Challenge participants will develop and use bioinformatics pipelines to identify the MLST (Multilocus Sequence Typing) type and Salmonella strains in metagenomic samples. Participants will be provided with a series of metagenomic samples and will be evaluated on their ability to accurately identify MLST types and Salmonella strains in the samples. Accurately identifying MLST types and Salmonella strains allows for faster pinpointing of the source of an outbreak by directly linking pathogens identified in a patient with pathogens found in food. Join us on February 15, 2018 to get started!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

