<% content_for :title do %>PrecisionFDA Consistency Challenge<% end %>

<%= render "challenges/consistency/header" %>

<div class="container container-padded">
  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-tabs-padded nav-tabs-contained" role="tablist">
    <li role="presentation" class="active"><a href="#results" class="tab-label" aria-controls="results" role="tab" data-toggle="tab">Results</a></li>
    <li role="presentation"><a href="#info" class="tab-label" aria-controls="info" role="tab" data-toggle="tab">Challenge Info</a></li>
  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="results">
    <%= render "challenges/consistency/results" %>
  </div>
  <div role="tabpanel" class="tab-pane" id="info">
    <%= render "challenges/consistency/info" %>
  </div>
</div>
