<div class="jumbotron jumbotron-news-landing">
  <div class="container container-padded container-fluid">
    <div class="pfda-cards pfda-cards-align-centered pfda-cards-stretch">
      <div class="pfda-card pfda-challenge-card pfda-card-default pfda-card-rounded pfda-card-bordered pfda-card-padded pfda-card-shadow">
        <div class="media">
          <div class="pfda-challenge-diagram">
            <%= image_tag("challenges/Food_Traceability_Challenge.png", class: "img-responsive center-block", alt: "Food Traceability graphic") %>
          </div>
          <div class="media-body pfda-padded">
            <div class="pfda-card-body text-justify">
              <div>
                A goal of the FDA’s <%= link_to "New Era of Smarter Food Safety initiative", "https://www.fda.gov/food/new-era-smarter-food-safety", target: "_blank" %> is to achieve end-to-end traceability – from source to table – throughout the food safety system. The FDA wants to explore ways to encourage firms to voluntarily adopt tracing technologies and ways to harmonize tracing activities, working toward outcomes that are achievable for all sectors of the food system.
              </div>
              <br>
              <div>
                However, the affordability of such technologies, particularly for smaller companies, can be a barrier to adopting tech-enabled traceability systems. To achieve end-to-end food traceability, accessible tracing solutions are needed. One of the goals in the <%= link_to "New Era of Smarter Food Safety blueprint", "https://www.fda.gov/food/new-era-smarter-food-safety/new-era-smarter-food-safety-blueprint", target: "_blank" %> is to encourage the development of creative financial models that are low- to no-cost solutions, proportional to benefits derived from participating, and enabling human and animal food operations of all sizes to participate in a scalable, cost-effective way.
              </div>
              <br>
              <div>
                Toward these efforts, the FDA will be launching the FDA New Era of Smarter Food Safety Low- or No-Cost Tech-Enabled Traceability Challenge as part of the America COMPETES Reauthorization Act of 2010 (COMPETES Act). The primary goal of this challenge is to encourage stakeholders, including technology providers, public health advocates, entrepreneurs, and innovators from all disciplines to develop traceability hardware, software, or data analytics platforms that are low-cost or no-cost to the end user.
                <br>
                Access to food traceability solutions that utilize affordable economic models may encourage widespread adoption.
              </div>
              <br>
              <div>
                The submission period for the challenge will run from June 1 at 8 am ET through July 30, 2021 at 5 pm ET and the winners will be announced in late August. In the months following the challenge, winners will be given the opportunity to present the solutions they developed in a webinar that’s available to the public.
              </div>
              <br>
              <p><%= link_to "Click here to sign up for more information", "https://www.surveymonkey.com/r/S5PS63V", class: "btn btn-primary", target: "_blank" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
