<% content_for :title do %>PrecisionFDA Challenges<% end %>

<% if @challenge %>
  <%= render "challenges/header", challenge: @challenge, challenge_index_page: true %>
<% end %>

<div class="jumbotron jumbotron-news-landing">
  <div class="container container-padded container-fluid">
    <h2>
      Previous PrecisionFDA Challenges
    </h2>
    <h4>Explore the results of previous challenges</h4>
    <%= render "challenges/cards", challenges: @challenges %>
  <br/>
  <br/>
  <br/>
  </div>
</div>
