<% content_for :title do %>PrecisionFDA Reproducibility and Accuracy Challenge<% end %>

<div class="jumbotron jumbotron-challenges">
  <div class="container container-fluid">
    <div class="tiltview-description">
      <h1>
        <span class="challenge-title-muted">PrecisionFDA</span>
        <br>
        Reproducibility & Accuracy Challenge
      </h1>
      <p>Engage and improve DNA test results with our first community challenge</p>

      <br>
      <br>
      <div class="text-center">
        <a class="btn btn-success btn-lg text-uppercase" href="#" role="button">
          <span class="fa fa-trophy fa-4x" aria-hidden="true"></span>
          <br>
          Join the Challenge
          <br>
          <small><strong><%= distance_of_time_in_words_to_now(DateTime.civil(2016,1,25)) %> remaining</strong></small>
        </a>
      </div>
    </div>
    <div class="tiltview col" aria-hidden="true">
      <%= image_tag("challenges/challenge-april-25-2016.png", alt: "PrecisionFDA Reproducibility and Accuracy Challenge", class: "img-responsive img-thumbnail") %>
    </div>
  </div>
</div>

<div class="container container-padded">
  <div class="pfda-challenge-intro">
    <div class="lead-intro">The <strong>Food and Drug Administration (FDA)</strong> calls on the genomics community to further assess, compare, and improve techniques used in DNA testing by launching the first precisionFDA challenge.</div>

    <div class="pfda-cards pfda-cards-justify-centered ">
      <div class="pfda-card pfda-card-rounded pfda-card-padded">
        <div class="pfda-card-body">
          <div class="challenge-card-icon"><span class="fa fa-sliders fa-4x" aria-hidden="true"></span></div>
          President Obama’s Precision Medicine Initiative envisions a day when an individual's medical care will be tailored in part based on their unique characteristics and genetic make-up. But with the rapid rise in the use of whole-genome sequencing in a variety of clinical settings, from identification of disease-related variants to genome-tailored therapies, reproducibility and accuracy are critical to the promises of precision medicine.
        </div>
      </div>
      <div class="pfda-card pfda-card-rounded pfda-card-padded">
        <div class="pfda-card-body">
          <div class="challenge-card-icon"><span class="fa fa-flask fa-4x" aria-hidden="true"></span></div>
          The goal of the FDA's first precisionFDA challenge is to push the genomics community to advance quality standards and achieve more consistent and accurate results in the context of whole human genome sequencing, advancing the goal of better personalized care.
        </div>
      </div>
      <div class="pfda-card pfda-card-rounded pfda-card-padded">
        <div class="pfda-card-body">
          <div class="challenge-card-icon"><span class="fa fa-usb fa-rotate-90 fa-4x" aria-hidden="true"></span></div>
          PrecisionFDA invites all innovators to take the challenge and assess their analytical software on the supplied reference human datasets. Participation is instrumental in helping the community prepare for the coming genomic data revolution.
        </div>
      </div>
    </div>

    <hr>

    <div class="text-muted text-center">
      <p>Challenge Time Period</p>
      <p><strong>February 25, 2016 through April 25, 2016</strong></p>
    </div>
  </div>

  <hr>

  <div class="text-center">
    <a class="btn btn-default btn-lg" href="#details"><span class="fa fa-fw  fa-long-arrow-down"  aria-hidden="true"></span> Learn more</a>
  </div>

  <br>

  <div class="well">
    <h3 class="text-uppercase">At a glance</h3>

    <div class="copy">
      <p>
        In the context of whole human genome sequencing, software pipelines typically rely on mapping sequencing reads to a reference genome and subsequently identifying variants (differences). One way of assessing the performance of such pipelines is by using well-characterized datasets such as Genome in a Bottle’s NA12878.
      </p>
      <p>
        By supplying NA12878 whole-genome sequencing read datasets (FASTQ), and a framework for comparing variant call format (VCF) results, this challenge provides a common frame of reference for measuring the reproducibility and accuracy of participants’ software.
      </p>
    </div>

    <hr>

    <div class="pfda-challange-diagram text-center">
      <%= image_tag("challenges/challenge-april-25-2016.png", alt: "PrecisionFDA Reproducibility and Accuracy Challenge", class: "img-responsive img-thumbnail") %>
    </div>

    <hr>

    <div class="copy">
      <p>
        The challenge begins with two precisionFDA-provided input datasets, corresponding to whole-genome sequencing of the NA12878 human sample on two different sequencing sites. Your mission is to process these FASTQ files through your mapping and variation calling pipeline and create VCF files. For one of the datasets, you are required to do a rerun of your pipeline and obtain a rerun VCF as well. You can generate those results on your own environment, and upload them to precisionFDA, or you can bring your pipeline into precisionFDA and run it on the cloud.
      </p>
      <p>
        Regardless of how you generate your VCF files, you will subsequently use the precisionFDA comparison framework to conduct several pairwise comparisons:
      </p>
      <ul>
        <li>By comparing the rerun VCF to the original one, you will evaluate your pipeline’s reproducibility with respect to the same exact input file.</li>
        <li>By comparing the VCF files of the two datasets, you will evaluate reproducibility on the same sample across different sites.</li>
        <li>By comparing each of your three VCF files to the NIST (Genome in a Bottle) VCF, you will get estimates for accuracy.</li>
      </ul>
      <p>
        The complete set of these five comparisons constitutes your submission entry to the challenge. Each comparison outputs several metrics (such as precision*, recall*, f-measure, or number of non-common variants), which will be used to rank you among the other participants, within eight different categories. Winners** in each category will be recognized on the precisionFDA website.
      </p>
      <p>
        The challenge runs until April 25, 2015. 
      </p>
    </div>
  </div>
</div>

<hr>

<div class="container container-padded" id="details">
  <h3>Challenge details</h3>

  <h4>Getting on the precisionFDA website</h4>
  <p class="copy">
  If you do not yet have a contributor account on precisionFDA, <a href="/request_access">file an access request</a> with your complete information, and indicate that you are entering the challenge. Your request will be pending until approved by the FDA. In the meantime, you will receive an email with a link to access the precisionFDA website in browse (guest) mode. Once the FDA approves your request, you will receive another email with your contributor account information.
  </p>

  <h4>Locating and understanding the input files</h4>
  <p class="copy">
    The starting point for this challenge consists of two datasets, corresponding to whole-genome sequencing of the NA12878 sample on an Illumina HiSeq X Ten instrument across two different sites (Garvan and HLI). A pair of gzipped FASTQ files is provided for each dataset. The following table summarizes key information for each dataset:
  </p>

  <table class="table table-bordered table-rounded">
    <tr>
      <td>Dataset/Site</td>
      <td>Garvan</td>
      <td>HLI</td>
    </tr>
    <tr>
      <td>Files</td>
      <td>
        <a target="_blank" href="https://precision.fda.gov/files/file-Bk512Y00BpP45gyZG98KBqzQ">NA12878-Garvan-Vial1_R1.fastq.gz</a>
        <br>
        <a target="_blank" href="https://precision.fda.gov/files/file-Bk518Gj0Kpg3Xgzpg87Kx2jb">NA12878-Garvan-Vial1_R2.fastq.gz</a>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>Library Prep</td>
      <td>TruSeq Nano DNA</td>
      <td></td>
    </tr>
    <tr>
      <td>Read Length</td>
      <td>2x150bp</td>
      <td></td>
    </tr>
    <tr>
      <td>Insert Size</td>
      <td>350bp</td>
      <td></td>
    </tr>
    <tr>
      <td>Instrument</td>
      <td>HiSeq X (one lane)</td>
      <td></td>
    </tr>
  </table>

  <p class="copy">
    We would like to thank the Garvan Institute of Medical Research, and the Human Longevity Institute, for contributing these input files.
  </p>

  <p class="copy">
    In the next step you will need to process these FASTQ files through your pipeline to generate VCF files. This can be done either by downloading the files and running your pipeline on your own environment, or by bringing your pipeline into precisionFDA and running it on the cloud. If you will be working on your own environment, download these datasets by visiting the links above and clicking the Download button.
  </p>

  <h4>Running your pipeline</h4>

  <p class="copy">
    After familiarizing yourself with the input files, you will need to process them through your mapping and variation calling pipeline to generate corresponding VCF files. Your pipeline must call variants across the whole genome. Each invocation of your pipeline must take as input a pair of FASTQ files and produce a VCF file containing exactly one genotyped sample. Results must be reported on GRCh37 human coordinates (i.e. chromosomes named 1, 2, ..., X, Y, and MT). You are strongly encouraged to compress each VCF file with bgzip, to reduce the file size.
  </p>

  <table class="table table-bordered table-rounded">
    <tr>
      <td>DO</td>
      <td>DON'T</td>
    </tr>
    <tr>
      <td>
        <span class="fa fa-check"></span> Use GRCh37<br>
        <span class="fa fa-check"></span> Call variants across the whole genome<br>
        <span class="fa fa-check"></span> Compress with bgzip<br>
      </td>
      <td>
        <span class="fa fa-times"></span> Use hg19 or GRCh38<br>
        <span class="fa fa-times"></span> Call variants only in specific regions<br>
        <span class="fa fa-times"></span> Generate a gVCF<br>
      </td>
    </tr>
  </table>

  <p class="copy">
  You must invoke your pipeline three times: 1) invoke it on the Garvan pair of FASTQ files to obtain a Garvan VCF; 2) re-invoke it on the same Garvan pair of FASTQ files to obtain a Garvan Rerun VCF; 3) invoke it on the HLI pair of FASTQ files to obtain an HLI VCF.
  </p>

  <table class="table table-bordered table-rounded">
    <tr>
      <td>Invocation</td>
      <td>Input dataset (FASTQ pair)</td>
      <td>Output dataset</td>
      <td>Example output filename</td>
    </tr>
    <tr>
      <td>#1</td>
      <td>Garvan</td>
      <td>Garvan VCF</td>
      <td>YourName-Garvan.vcf.gz</td>
    </tr>
    <tr>
      <td>#2</td>
      <td>Garvan</td>
      <td>Garvan Rerun VCF</td>
      <td>YourName-Garvan-rerun.vcf.gz</td>
    </tr>
    <tr>
      <td>#3</td>
      <td>HLI</td>
      <td>HLI VCF</td>
      <td>YourName-HLI.vcf.gz</td>
    </tr>
  </table>

  <p class="copy">
    NOTE: As discussed above, you are requested to repeatedly run your pipeline on the same input (for the Garvan pair of FASTQ files). Methods that are perfectly deterministic are expected to produce the same results when run on the same inputs; under such circumstances, it’s possible for the Garvan VCF to be identical to the Garvan Rerun VCF.
  </p>
  <p class="copy">
  If you are running your pipeline in your own environment, upload the three generated files to precisionFDA. Additional information on uploading files is available at the <a href="https://precision.fda.gov/about/how#files-uploading">precisionFDA docs</a>.
  </p>

</div>
