@import "_common"

.pfda-feed
  margin: 0
  padding: 0
  .pfda-post
    padding: $padding-large-vertical
    .pfda-post-title
      font-size: 18px
      .fa
        left: 15px
        position: absolute
        margin-top: 5px
        opacity: 0.5
    .pfda-post-metadata
      color: lighten($text-muted, 15%)
      line-height: 32px
      .pfda-post-user
        font-weight: bold
        color: $text-muted
      .pfda-post-org, .pfda-post-timestamp
        color: $text-muted
    .pfda-post-actions
      color: $text-muted
