@import "_common"

.alert-help-block
  padding: 10px
  margin-bottom: 10px
  background-color: #f9f9f9
  border-left: 5px solid #e5e5e5
  color: $text-muted
  text-align: left

  > *
    margin-right: 5px

  .external-link-indicator
    display: none

  &.alert-help-info
    background-color: lighten($alert-info-bg, 5%)
    border-color: $alert-info-border
    color: $alert-info-text

  &.alert-help-warning
    background-color: lighten($alert-warning-bg, 3%)
    border-color: $alert-warning-border
    color: $alert-warning-text

  &.alert-help-success
    background-color: lighten($alert-success-bg, 5%)
    border-color: $alert-success-border
    color: $alert-success-text

  &.alert-help-danger
    background-color: lighten($alert-danger-bg, 5%)
    border-color: $alert-danger-border
    color: $alert-danger-text

.simple-help, .alert-help-block
  a
    color: $brand-info // alt: #02bfe7
    &:hover
      color: darken($brand-info, 10%)
      .external-link-indicator
        display: inline

.simple-help
  font-size: 85%
  .fa
    color: $brand-blue-tertiary
