@import "_common"

.list-group-item-header
  background-color: $gray-subtle

.list-group.list-group-inline
  margin-bottom: $padding-large-vertical

  li
    display: inline-block
    margin-right: $padding-base-horizontal
    border: 0
    border-radius: $border-radius-base

  .list-group-item-text
    font-size: 19px

.list-group-item-heading, .panel-title, .panel-heading
  color: $brand-blue-tertiary
  text-transform: uppercase
  font-weight: 300

.list-group-selector
  border-radius: 0
  .list-group-item
    border-radius: 0
    &:first-child
      border-top: 0

    &.active
      background-color: $brand-blue-subtle
      color: $brand-blue-dark
      border-color: $list-group-border

    &:hover:not(.active)
      a
        visibility: visible

    a
      color: $brand-blue-tertiary
      visibility: hidden