@import "_common"

.list-group-item-header
  background-color: $gray-subtle

.list-group.list-group-inline
  margin-bottom: $padding-large-vertical

  li
    display: inline-block
    margin-right: $padding-base-horizontal
    border: 0
    border-radius: $border-radius-base

  .list-group-item-text
    font-size: 19px

.list-group-item-heading, .panel-title, .panel-heading
  color: $brand-blue-tertiary
  text-transform: uppercase
  font-weight: 300

