@import "_common"

// PANES

.pfda-pane
  @include flexbox
  height: 100%

  .pfda-pane-content
    @include flex(1)
    background-color: $body-bg
    &.pfda-pane-content-padded
      padding: $padding-base-horizontal

  .pfda-pane-sidebar
    @include flex(0 300px)
    width: 300px
    min-height: 500px
    background-color: darken(desaturate($brand-blue-subtler, 25%), 3%)
    border-right: 1px solid $border-default-color

    &.pfda-pane-sidebar-padded
      padding: $padding-base-horizontal

    &.pfda-pane-sidebar-dark
      background-color: $brand-blue-dark
      .pfda-toolbar
        background-color: $brand-blue-dark
        border-bottom-color: lighten($brand-blue-dark, 10%)
      .btn.btn-default
        background-color: transparent
        border-color: lighten($brand-blue-dark, 10%)
        color: $brand-blue-secondary

        &:hover, &:focus, &:active, &.active
          background-color: darken($brand-blue-dark, 2%)
          border-color: $brand-blue-secondary

      .list-group
        a.list-group-item
          color: $brand-blue-secondary
          &:hover
            background-color: lighten($brand-blue-dark, 5%)
        .list-group-item
          color: mix(#aaa, $link-color, 75%)

    .list-group
      border-radius: 0
      margin: 0
      .list-group-item
        border: 0
        border-radius: 0
        background-color: transparent
        color: mix($text-muted, $link-color, 75%)

      a.list-group-item
        color: $brand-blue-secondary
        &:hover
          background-color: $brand-blue-subtler

        &.disabled, &.disabled:hover
          color: $brand-blue-tertiary
          background-color: transparent
          text-transform: uppercase
          font-size: 12px
          font-weight: 300
          margin-top: $padding-large-vertical
        &.active, &.active:hover
          background-color: $brand-blue-secondary
          color: #ffffff
          border-left: 5px solid $brand-blue-primary
          padding-left: 10px // list-group padding minus border left width
          margin-right: -1px
          .text-muted
            color: mix(#fff, $link-color, 85%)

        .text-muted
          color: mix(#aaa, $link-color, 75%)

    .list-group + .list-group
      border-top: 1px solid $border-default-color
