@import "_common"

.publisher-canvas-wrapper
  padding: 10px
  text-align: center

svg.publisher-canvas
  g.public > rect
    fill: #00ffd0

  g.not_yours > rect
    fill: #ff00d0

  .node rect
    stroke: #333
    fill: #fff

  .edgePath path
    stroke: #333
    fill: #333
    stroke-width: 1.5px

  tspan, foreignobject
    font-size: 13px
    color: #333
