@import "_common"

.nav.nav-tabs
  .tab-label
    text-transform: uppercase
  .tab-help
    font-size: 85%
    color: #bbb
    display: block

  &.nav-tabs-padded
    padding: $padding-base-vertical $padding-base-horizontal 0

.tab-pane
  &.tab-pane-padded, &.tab-pane-preview
    padding: $padding-base-vertical $padding-base-horizontal

