.tasks-actions-modal
  .control-label
    text-align: left
  textarea
    resize: vertical
  .text-area, .readonly
    height: auto
    overflow: hidden
    overflow-y: auto
    text-overflow: ellipsis
    min-height: 34px
    max-height: 150px
