@import "_common"

.text-monospace
  font-family: $font-family-monospace

.lead
  &.lead-regular
    font-weight: 500
  &.lead-bold
    font-weight: bold

div.lead
  margin: 0

.lead-intro
  line-height: 1.5
  font-size: 25px
  font-weight: 400

.pre
  white-space: pre

.pre-wrap
  white-space: pre-wrap

.pre-line
  white-space: pre-line