@import "_common"

.pfda-controller-apps
  .state-running
    color: $brand-running-color
    background-color: $brand-running-bg

  .state-done
    color: $brand-done-color
    background-color: $brand-done-bg

  .state-failed
    color: $brand-failed-color
    background-color: $brand-failed-bg

  .pfda-table
    .col-state
      width: 100px
