@import "_common"

.pfda-controller-apps
  .state-running
    color: $brand-running-color
    background-color: $brand-running-bg

  .state-done
    color: $brand-done-color
    background-color: $brand-done-bg

  .state-failed
    color: $brand-failed-color
    background-color: $brand-failed-bg

  .pfda-table
    .col-state
      width: 100px

.pfda-controller-apps.pfda-action-show
  .app-readme-group
    padding: 50px

  .app-spec-group
    background-color: $brand-blue-subtler

.app-spec
  .app-spec-column
    padding: 0 $padding-large-horizontal $padding-small-vertical 0

  .spec-heading
    color: $brand-blue-tertiary
    text-transform: uppercase
    font-weight: 400
    font-size: $font-size-h5
    margin-bottom: 10px

  .table-spec
    td
      vertical-align: baseline

    .spec-label
      font-weight: bold

    .spec-name
      font-family: $font-family-monospace
      font-size: 12px

    .spec-class
      font-family: $font-family-monospace
      color: $brand-blue-tertiary
      font-size: 12px

    .spec-required
      text-transform: uppercase
      font-size: 10px
      background-color: lighten($brand-blue-tertiary, 10%)

    .spec-default
      font-family: $font-family-monospace
      color: $text-muted
      font-size: 11px

    .spec-patterns
      font-family: $font-family-monospace
      color: $text-muted
      font-size: 11px
