@import "_common"

svg.chart
  margin: auto
  .axis
    path,
    line
      fill: none
      stroke: $brand-blue-tertiary
      shape-rendering: crispEdges

    .tick text
      fill: $brand-blue-tertiary

  .line
    fill: none
    stroke: $brand-blue-primary
    stroke-width: 2.5px

  .tick line
    opacity: 0.2

.pfda-charts
  .pfda-chart
    padding: 20px 15px
    .list-group-item-heading
      text-align: center
      text-transform: uppercase
      color: $brand-blue-tertiary
      font-size: $font-size-h4
      small
        font-size: 14px
        color: $text-color
