@import "_common"

svg.chart
  margin: auto
  .axis
    path,
    line
      fill: none
      stroke: $brand-blue-tertiary
      shape-rendering: crispEdges

    .tick text
      fill: $brand-blue-tertiary

  .line
    fill: none
    stroke: $brand-blue-primary
    stroke-width: 2.5px
