@import "_common"

.btn-browse-files
  position: relative
  overflow: hidden

.btn-browse-files input[type=file]
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  min-height: 100%
  filter: alpha(opacity=0)
  opacity: 0
  outline: none
  background: white
  cursor: inherit
  display: block

.file-description
  border-color: transparent
  box-shadow: none
  margin-left: -$padding-base-horizontal
  margin-right: -$padding-base-horizontal
  &:focus, &:active
    border-color: $input-border-focus

.list-files
  margin-top: 0

  .list-group-item
    position: relative

    .progress
      margin: 0
      position: absolute
      top: 5px
      left: 5px
      right: 5px
      bottom: 5px
      opacity: 0.2
      height: auto
