@import "_common"

.login-alert
  margin-top: 20px
  margin-bottom: 20px

.pfda-controller-main.pfda-action-index main
  .showcase
    padding: 20px 50px

    .list-group
      margin-top: 20px

    .list-group-item
      min-height: 250px

      .list-group-item-heading
        font-size: $font-size-h4
        text-transform: uppercase
        color: $brand-blue-tertiary
        font-weight: 300

      .list-group-item-text
        font-size: $font-size-h3
        font-weight: 300
        color: $text-muted
