@import "_common"

.navbar
  padding-left: $navbar-padding-horizontal
  padding-right: $navbar-padding-horizontal

.navbar-brand
  font-family: $brand-font-family
  font-weight: 300
  font-size: 20px
  letter-spacing: -1px
  display: block
  &:hover
    opacity: 0.9

.nav-links
  text-align: center

  li > a
    color: $brand-blue-tertiary
    font-weight: 300
    min-width: 100px

    .nav-icon
      margin-bottom: 5px
      font-size: 28px

  li.active
    > a, > a:hover, > a:focus
      background-color: transparent
      color: $brand-red-primary
      .nav-icon
        color: $brand-red-primary


@media (max-width: $screen-sm-min)
  .navbar-nav, .navbar-nav .dropdown a
    text-align: center

  .navbar-brand
    padding-top: 10px
    padding-bottom: 10px

@media (min-width: $screen-sm-min)
  .navbar-brand
    height: auto
    padding-top: 20px
    padding-bottom: 30px

@media (max-width: $screen-sm-max)
  .nav-links
    li > a
      min-width: 0
