@import "_common"

.navbar
  padding-left: $navbar-padding-horizontal
  padding-right: $navbar-padding-horizontal

.navbar-brand
  font-family: $brand-font-family
  font-weight: 300
  font-size: 20px
  letter-spacing: -1px
  margin: $navbar-padding-vertical auto
  &:hover
    .brand-fda-highlight
      color: $brand-red-primary


.nav-links
  text-align: center

  li > a
    color: $brand-blue-tertiary
    font-weight: 300
    min-width: 100px

    .nav-icon
      margin-bottom: 5px
      font-size: 28px

  li.active
    > a, > a:hover, > a:focus
      background-color: transparent
      color: $brand-red-primary
      .nav-icon
        color: $brand-red-primary

@media (max-width: $screen-sm-max)
  .nav-links
    li > a
      min-width: 0

@media (max-width: $screen-sm-min)
  .navbar-nav, .navbar-nav .dropdown a
    text-align: center
