// TODO: Move related classes into separate stylesheets
@import "_common"

.flash_notice, .flash_alert
  padding: 8px 35px 8px 14px
  margin-bottom: 20px
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  border: 1px solid #fbeed5
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  font-size: 14px
  line-height: 20px

.flash_notice
  background-color: #dff0d8
  border-color: #d6e9c6
  color: #468847

.flash_alert
  background-color: #f2dede
  border-color: #eed3d7
  color: $brand-red-secondary

// TOOLBAR
.pfda-toolbar
  padding: $padding-large-horizontal
  border-bottom: 1px solid $table-border-color

// BUTTONS
.btn.btn-default
  .fa
    color: $brand-red-primary
  &:hover, &:focus, &:active, &.active
    color: $brand-blue-primary
    background-color: $brand-blue-subtle
    border-color: $brand-blue-secondary

// TABLE
.pfda-table.table
  > thead > tr > th
    color: $brand-blue-tertiary
    text-transform: uppercase
    font-size: 12px
    font-weight: 300

.col-checkbox
  width: 28px

.pfda-table
  margin-bottom: 0
  .fa
    color: $brand-blue-tertiary

.pfda-2-pane-wrapper
  background-color: $brand-blue-dark
  .pfda-2-pane-content
    min-height: 500px
    background-color: $body-bg
    padding-left: $padding-xs-horizontal

  .pfda-2-pane-sidebar
    .pfda-toolbar
      border-bottom-color: lighten($brand-blue-dark, 10%)
    .btn.btn-default
      background-color: transparent
      border-color: lighten($brand-blue-dark, 10%)

      &:hover, &:focus, &:active, &.active
        color: $brand-blue-primary
        background-color: $brand-blue-subtle
        border-color: $brand-blue-secondary

    .list-group
      border-radius: 0
      a.list-group-item
        border: 0
        border-radius: 0
        background-color: transparent
        color: $brand-blue-secondary
        &:hover
          background-color: lighten($brand-blue-dark, 10%)

        &.disabled, &.disabled:hover
          color: $brand-blue-tertiary
          background-color: transparent
          text-transform: uppercase
          font-size: 12px
          font-weight: 300
          margin-top: $padding-large-vertical
        &.active, &.active:hover
          color: $brand-blue-primary
          background-color: $body-bg
          border-left: 5px solid $brand-red-primary
          padding-left: 10px // list-group padding minus border left width

// WICE-GRID
$select-width: 28px
.wice-grid.table
  margin-bottom: 0

  .fa
    color: $brand-blue-tertiary

  > thead > tr > th
    color: $text-muted
    text-transform: uppercase
    font-size: 12px
    font-weight: 500
    a
      color: $brand-blue-tertiary

  > tbody > tr > td, > thead > tr > th
    border-left: 0
    border-right: 0

  &.table-striped > tbody > tr:nth-of-type(odd)
    background-color: transparent

  td.sel, th.sel
    width: $select-width

  .wg-filter-row
    background-color: $gray-lighter

  .pagination_status
    float: right
    color: $brand-blue-tertiary

  .custom-dropdown-container
    .custom-dropdown
      width: calc(100% - 30px)
      display: inline-block
    .clickable
      width: 25px
      display: inline-block
      text-align: center

  .clickable
    cursor: pointer

  .extra-row
    border-top: 2px solid #fff
    td
      padding-top: 0
    .description
      margin-left: $select-width
      color: $text-muted

// MISC
.page-header
  margin: 0
  padding: $padding-large-vertical*2 $padding-large-horizontal
  h1
    margin: 0
    word-wrap: break-word

.empty-grid
  padding: $padding-large-vertical $padding-large-horizontal

// ACTIONS
.pfda-action-index
  .jumbotron
    background-color: $brand-blue-secondary
    color: $brand-blue-subtler

    p
      font-weight: 300

.pfda-action-show
  .page-header
    background-color: $brand-blue-subtler
    color: $brand-blue-tertiary
    padding: $padding-large-vertical * 3 $padding-large-horizontal

  main .container-fluid
    padding: $padding-large-vertical $padding-base-horizontal

  .description
    margin-left: 46px
    font-weight: 300
    font-size: 18px

  .list-group-item-heading
    color: $brand-blue-tertiary
    text-transform: uppercase
    font-weight: 300

  .list-group-item-text
    font-size: 19px

.pfda-action-new
  .page-header
    background-color: darken($brand-blue-primary, 10%)
    color: #fff
    padding: $padding-large-vertical * 3 $padding-large-horizontal

  main .container-fluid
    padding: $padding-large-vertical $padding-base-horizontal
