// TODO: Move related classes into separate stylesheets
@import "_common"

body > main > .alert
  margin: 10px 10px 20px 10px


// TOOLBAR
.pfda-toolbar
  background-color: $brand-blue-subtler
  padding: $padding-base-horizontal
  border-bottom: 1px solid $table-border-color
  @include clearfix

// BUTTONS
.btn.btn-default
  .fa
    color: $brand-red-primary
  &:hover, &:focus, &:active, &.active
    color: $brand-blue-primary
    background-color: $brand-blue-subtle
    border-color: $brand-blue-secondary

// TABLE
.pfda-table.table
  > thead > tr > th
    color: $brand-blue-tertiary
    text-transform: uppercase
    font-size: 12px
    font-weight: 300

.col-checkbox
  width: 28px

.pfda-table
  margin-bottom: 0
  .fa
    color: $brand-blue-tertiary

.panel
  .panel-table
    .table, .table-bordered > tfoot > tr > td
      border: 0

// PANES

.pfda-2-pane-wrapper
  background-color: $brand-blue-dark
  .pfda-2-pane-content
    min-height: 500px
    background-color: $body-bg
    padding-left: $padding-xs-horizontal

  .pfda-2-pane-sidebar
    .pfda-toolbar
      background-color: $brand-blue-dark
      border-bottom-color: lighten($brand-blue-dark, 10%)
    .btn.btn-default
      background-color: transparent
      border-color: lighten($brand-blue-dark, 10%)

      &:hover, &:focus, &:active, &.active
        color: $brand-blue-primary
        background-color: $brand-blue-subtle
        border-color: $brand-blue-secondary

    .list-group
      border-radius: 0
      a.list-group-item
        border: 0
        border-radius: 0
        background-color: transparent
        color: $brand-blue-secondary
        &:hover
          background-color: lighten($brand-blue-dark, 10%)

        &.disabled, &.disabled:hover
          color: $brand-blue-tertiary
          background-color: transparent
          text-transform: uppercase
          font-size: 12px
          font-weight: 300
          margin-top: $padding-large-vertical
        &.active, &.active:hover
          color: $brand-blue-primary
          background-color: $body-bg
          border-left: 5px solid $brand-red-primary
          padding-left: 10px // list-group padding minus border left width

// MISC
.page-header
  margin: 0
  padding: $padding-large-vertical*2 $padding-large-horizontal
  .page-title
    font-size: $font-size-h2
    margin: 0
    word-wrap: break-word

.affix
  position: fixed !important
  top: 0
  left: 0
  right: 0
  z-index: 10

// ACTIONS
.pfda-action-index
  .jumbotron
    background-color: $brand-blue-secondary
    color: $brand-blue-subtler

    p
      font-weight: 300

.pfda-action-show main
  .page-header
    background-color: $brand-blue-subtler
    color: $brand-blue-tertiary

    .description
      font-weight: 300
      font-size: 18px

  .container-fluid
    padding: $padding-large-vertical $padding-base-horizontal

  .list-group.list-group-inline
    margin-bottom: $padding-large-vertical

    li
      display: inline-block
      margin-right: $padding-base-horizontal
      border: 0
      border-radius: $border-radius-base

  .list-group-item-heading, .panel-title
    color: $brand-blue-tertiary
    text-transform: uppercase
    font-weight: 300

  .list-group-item-text
    font-size: 19px

  .panel
    a.list-group-item
      color: $link-color

      .fa
        color: $brand-blue-tertiary

      &:hover
        color: $link-hover-color

      .glue
        color: lighten($text-muted, 10%)
        padding: 0 2px

      .list-group-item-name
        font-weight: bold

      .list-group-item-description
        color: $text-muted

.pfda-action-new main
  .page-header
    background-color: darken($brand-blue-primary, 10%)
    color: #fff
    padding: $padding-large-vertical * 3 $padding-large-horizontal

  .container-fluid
    padding: $padding-large-vertical $padding-base-horizontal
