@import "_common"

.workflows
  margin: 0
  padding: 0 10px

  &.standard
    background: url(asset-path('backgrounds/tiny_grid.png')) repeat center center
    min-height: 400px

  &.container
    height: 100%

    &.jumbotron
      position: relative
      top: 50%
      left: 30%
      background-color: transparent
      height: 100%

  &.workflow-modal-header
    background-color: $brand-blue-primary
    color: $popover-bg
  &.center-block
    margin-left: 50px

  &.io-field-default
    background-color: $state-info-bg
  &.select-output
    background-color: $border-default-color

  &.mapper-select-input
    float: left
    width: 80%

  &.input-img
    margin-top: -40px
    margin-bottom: -20px
    margin-left: 80px

  &.input-item
    padding-top: 25px
    padding-left: 55px

  .stage-item
    height: 50px
    width: 200px
    padding-top: 12px
    padding-left: 5px
    background-color: $progress-bg
    text-align: center

.workflow-pre-scrollable
  max-height: 240px
  overflow-y: scroll

#configure-stage-modal
  top: 15%
  left: 50%

.list-inputs
  background-color: $border-default-color

.unconfigured
  width: 200px
  height: 50px
  background-color: $brand-red-tertiary
  box-shadow: 0 0 10px $brand-red-tertiary
  -moz-box-shadow: 0 0 10px $brand-red-tertiary
  -webkit-box-shadow: 0 0 10px $brand-red-tertiary
  -o-box-shadow: 0 0 10px $brand-red-tertiary

.configured
  width: 200px
  height: 50px
  background-color: $brand-green-secondary
  box-shadow: 0 0 10px $brand-green-secondary
  -moz-box-shadow: 0 0 10px $brand-green-secondary
  -webkit-box-shadow: 0 0 10px $brand-green-secondary
  -o-box-shadow: 0 0 10px $brand-green-secondary

.input-configured
  width: 220px
  height: 80px
  background-color: $brand-bg-gray
  border-color: $brand-purple-subtle
  border-radius: 10px
  border-style: solid
  border-width: 2px

.workflow
  &.centered-div
    margin-top: 10%
    margin-left: 30%
    width: 400px
    height: 200px
    background-color: $brand-running-bg

.workflow
  &.centered-text
    padding-top: 80px
    width: 400px
    padding-left: 10px
    color: $brand-blue-primary

.workflow
  &.position-center
    position: relative
    margin-top: -15px

.data-required:after
  color: $brand-red-primary
  content: "*"
  margin-left: 5px
  margin-right: 25px
  font-size: 20px

.gi-2x
  font-size: 1em
.gi-3x
  font-size: 3em
.gi-4x
  font-size: 4em
.gi-5x
  font-size: 5em

.imbed-checkbox
  display: inline-block

.gly-flip-vertical
  -webkit-transform: scale(1, -1)
  -moz-transform: scale(1, -1)
  -ms-transform: scale(1, -1)
  -o-transform: scale(1, -1)
  transform: scale(1, -1)

.workflow-input-header
  background-color: $state-info-bg

.workflows-input
  &.pfda-padded
    padding: 5px 5px 5px 5px

.shifted-io
  display: inline-block
  padding-left: 15px

.workflow-warning
  color: $brand-red-tertiary
.workflow-info
  color: $brand-green-secondary
.workflow-digaram-gly
  color: $brand-blue-primary
.workflow-fa
  color: $brand-green-secondary

.pfda-controller-workflows.pfda-action-index
  .indicator
    cursor: pointer
    color: #00A3E0
  .indicator:hover
    color: #2ec6ff

.pfda-controller-workflows.pfda-action-show
  .indicator
    cursor: pointer
    color: #00A3E0
  .indicator:hover
    color: #2ec6ff
