.filter {
  --slect-height: 28px;
  min-width: 30px;
  font-size: 14px;
  font-weight: 400;
}

.filter :global(.pf-select-control) {
  border-radius: 6px;
  transition: border-color 150ms ease, background-color 150ms ease;
}

.filter :global(.pf-select-control:hover) {
  border-color: var(--primary-400);
}

.filter :global(.pf-select-input) {
  margin: 0;
}

.filter :global(.pf-select-input input) {
  box-shadow: none;
}

.filter :global(.pf-select-option) {
  display: flex;
  align-items: center;
  height: var(--slect-height);
  padding: 0 12px;
}

.filter :global(.pf-select-menu) {
  border-radius: 6px;
}

.active :global(.pf-select-control) {
  background-color: var(--primary-50);
  border-color: var(--primary-500);
}
