.objects-actions-modal

  &__help-block
    display: inline

  &__checkbox
    cursor: pointer
    width: 13px
    padding-left: 20px


  &__table
    &.table > thead > tr > th
      padding: 8px
      border-bottom-width: 1px

    tbody
      tr:first-child
        td
          border-top: none
