$color-primary: #1f70b5
$color-success: #56d699
$color-info: #63a5de
$color-warning: #f0ad4e
$color-danger: #eb776f
$color-public: #b2e2fe
$color-pink: #bf41aa
$color-not-active-el: #8b847e
$color-link-hover: #4297df

/** Jobs execution status **/
$brand-green-primary: #3c763d
$brand-running-bg: #f0f9fd
$brand-running-color: #2071b5
$brand-failed-bg: #ffeeed
$brand-failed-color: #821a1d
$brand-done-bg: #dff0d8
$brand-done-color: darken($brand-green-primary, 5%)
/** Jobs execution status **/

$form-contol-height: 34px

/** Added for Chanllenges UI update, but can be used site-wide **/

/** Colours **/
$pfda-highlight-blue: #3a80ba
$pfda-highlight-yellow: #edad58
$pfda-highlight-green: #44b150
$pfda-subtle-blue: #f4f8fd
$pfda-text-black: #000
$pfda-text-dark-grey: #272727
$pfda-text-medium-grey: #555555
$pfda-light-gray-background-color: rgb(242, 242, 242)

$pfda-navigation-bar-height: 64px

/** Main Container Layout **/
$pfda-main-container-max-width: 1330px
$pfda-right-column-width: 288px
$pfda-small-column-width: 128px
$pfda-smaller-column-width: 96px
$pfda-thumbnail-width: 288px
$pfda-thumbnail-height: 148px
$pfda-highlight-bar-width: 4px

$pfda-main-content-horizontal-padding: 32px
$pfda-main-content-vertical-padding: 32px
$pfda-button-spacing: 12px


/** Font Sizes **/
$pfda-font-size-h1: 20px
$pfda-font-size-h2: 18px
$pfda-font-size-body: 14px
$pfda-subheading-text-size: 14px
