$color-primary: #1f70b5
$color-success: #56d699
$color-info: #63a5de
$color-warning: #f0ad4e
$color-danger: #eb776f
$color-public: #b2e2fe
$color-pink: #bf41aa
$color-not-active-el: #8b847e
$color-link-hover: #4297df

/** Jobs execution status **/
$brand-green-primary: #3c763d
$brand-running-bg: #f0f9fd
$brand-running-color: #2071b5
$brand-failed-bg: #ffeeed
$brand-failed-color: #821a1d
$brand-done-bg: #dff0d8
$brand-done-color: darken($brand-green-primary, 5%)
/** Jobs execution status **/

$form-contol-height: 34px
