<div class="contact-information-form hidden" data-bind="css: {hidden: !contacts.isEditing(), loading: contacts.isLoading()}">
  <div class="loader-container">
    <div class="loader">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
  <div class="form-container">
    <%# <form class="form-horizontal" id="profile_phone_form">
      <div class="form-group required">
        <label for="profile_phone" class="col-sm-3 control-label">Phone:</label>
        <div class="col-sm-2">
          <%= select 'profile_phone', 'phone_country_id', dial_codes, { include_blank: true }, {
            class: 'form-control',
            required: 'required',
            data: {bind: 'value: contacts.phoneCountryCode'}
          } %>
        <%#</div>
        <div class="col-sm-offset-1 col-sm-5">
          <input type="text" class="form-control" name="profile_phone[phone]" id="profile_phone" required/>
        </div>
         <div class="col-sm-offset-1 col-sm-5">
          <button class="btn btn-primary hidden" data-bind="click: showConfirmPhoneModal,
            disable: contacts.disableConfirmPhoneButton,
            css: {
              hidden: !contacts.showConfirmPhoneButton()
            }">Request text validation code</button>
          <div class="phone-confirmed-small text-success" data-bind="css: {hidden: !contacts.phoneConfirmed()}">verified</div>
        </div>
      </div>
    </form>
    <hr> %>
    <form class="form-horizontal" id="profile_form">
      <div  class="row">
        <div class="form-group required col-sm-6">
          <div class="row">
            <div class="col-sm-3">
              <label for="profile_phone" class="control-label">Phone:</label>
            </div>
            <div class="col-sm-offset-9 col-sm-6">
              <%= select 'profile', 'phone_country_id', dial_codes, { include_blank: true }, {
                  class: 'form-control',
                  required: 'required',
                  data: {bind: 'value: contacts.phoneCountryCode'}
              } %>
            </div>
          </div>
        </div>
        <div class="form-group required col-sm-offset-1 col-sm-5">
            <input type="text" class="form-control" name="profile[phone]" id="profile_phone" required/>
        </div>
      </div>
      <div class="form-group required">
        <label for="profile_email" class="col-sm-3 control-label">Email address:</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" name="profile[email]" id="profile_email" required data-bind="value: contacts.email">
        </div>
      </div>
      <div class="form-group required">
        <label for="profile_address1" class="col-sm-3 control-label">Address 1:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="profile[address1]" id="profile_address1" required data-bind="value: contacts.address1">
        </div>
      </div>
      <div class="form-group required">
        <label for="profile_address2" class="col-sm-3 control-label">Address 2:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="profile[address2]" id="profile_address2"  data-bind="value: contacts.address2">
        </div>
      </div>
      <div class="form-group required">
        <label for="profile_city" class="col-sm-3 control-label">City:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="profile[city]" id="profile_city" required data-bind="value: contacts.city">
        </div>
      </div>
      <div class="form-group required">
        <label for="profile_country" class="col-sm-3 control-label">Country:</label>
        <div class="col-sm-8">
          <%= select 'profile', 'country_id', countries, { include_blank: true }, {
            class: 'form-control',
            required: 'required',
            data: { bind: 'value: contacts.country' }
          } %>
        </div>
      </div>
      <div class="form-group required">
        <label for="profile_state" class="col-sm-3 control-label">US State:</label>
        <div class="col-sm-8">
          <%= select 'profile', 'us_state', Country.us_states_list, { include_blank: true }, {
            class: 'form-control',
            required: 'required',
            data: { bind: 'value: contacts.state' },
            disabled: true
          } %>
        </div>
      </div>
      <div class="form-group required">
        <label for="profile_postal_code" class="col-sm-3 control-label">Postal Code:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="profile[postal_code]" id="profile_postal_code" required data-bind="value: contacts.postalCode">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-8">
          <button class="btn btn-default" data-bind="click: contacts.hideForm">Cancel</button>
          <button class="btn btn-primary hidden" data-bind="click: contacts.updateData, css: {hidden: contacts.pristin}">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
