<div class="text-muted remediated-text-grey">
  <hr/>
  The questions, answers and comments posted under this Expert Q&A forum reflect the views of the author(s) and should not be construed to represent views or policies held by the FDA. Experts answer questions at their discretion and thus not all questions may be addressed. The Expert Q&A forum is also not intended to address questions pertaining to medical advice, diagnosis or treatment.
</div>
