<div class="page-title">
  Your Expert Q&A Dashboard
</div>
<p>
  <br/>
  <%= image_tag(@expert.image, class: 'img-rounded', height: '350px') %>
</p>

<p>
  <% if @expert.open? %>
    <span class="label label-success"><span class="fa fa-check"></span> Open</span>
  <% else %>
    <span class="label label-default"><span class="fa fa-lock"></span> Closed</span>
  <% end %>
  <% if @expert.editable_by?(@context) %>
    <% if @expert.is_public? %>
      <span class="label label-primary"><span class="fa fa-eye"></span> Public</span>
    <% else %>
      <span class="label label-warning"><span class="fa fa-eye-slash"></span> Private</span>
    <% end %>
  <% end %>
</p>
