<% content_for :title do %>Experts<% end %>

<% if @context.logged_in? && @context.user.can_administer_site? %>
<div class="pfda-toolbar text-center">
  <div class="btn-group">
    <%= link_to new_expert_path, class: 'btn btn-primary' do %>
      <span class="fa fa-plus-square fa-fw"></span> Create a new expert
    <% end %>
  </div>
</div>
<% end %>

<%= render "experts/cards", experts: @experts %>
