<% content_for :title do %>Create a new Expert of the Month<% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-groups"></span>
    Create a new <strong>Expert of the Month</strong>
  </div>
</div>

<div class="container-fluid container-padded">
  <%= form_for @expert, url: experts_path, html: {class: 'form form-horizontal'} do |f| %>

    <%= render "experts/form_fields", f: f %>

    <div class="form-group">
      <div class="col-sm-offset-3">
        <%= f.submit "Create Expert", class: 'btn btn-primary', data: { disable_with: "Creating...", bind: "enable: modalUploader.imageUrl" } %>
        <div class="text-muted" data-bind="visible: !modalUploader.imageUrl()"><br/>Please upload an image for the expert.</div>
      </div>
    </div>
  <% end %>
  <%= render "_partials/admin/modal_image_uploader" %>
</div>
